<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách tuyến đường</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/driver-list.css"/>
</head>
<body>
<div class="container-fluid m-0 p-0">

    <div th:insert="fragments/nav :: nav"></div>

    <div class="row mt-3 ml-3">
        <div class="col">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#route-create-modal">
                Create
            </button>
        </div>
    </div>

    <div th:insert="fragments/route-create-modal :: route-create-modal"
         th:with="tuyenDuongMuonTaoMoi=${tuyenDuongMuonTaoMoi}"></div>

    <div class="row mt-4 mx-3">
        <div class="col">
            <table class="table table-bordered table-hover table-striped">
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Distance</th>
                    <th class="text-center">Stop Number</th>
                    <th class="text-center">Action</th>

                </tr>
                <tr th:each="tuyenDuong: ${danhSachTuyenDuong}">
                    <td th:text="${tuyenDuong.id}"/>
                    <td th:text="${tuyenDuong.distance}"/>
                    <td th:text="${tuyenDuong.stopNumber}"/>
                    <td>
                        <a role="button" class="mr-3 text-primary update-route" th:attr="route-id=${tuyenDuong.id}">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div th:insert="fragments/route-update-modal :: route-update-modal"></div>

    <div th:insert="fragments/footer :: footer"></div>


</div>
</body>
</html>

<!-- jQuery library -->
<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>

<!-- Popper JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

<script>
    $(document).ready(function () {
        toastr.options.timeOut = 2500;

        $("#route-update-modal-form").validate({

            onfocusout: false,
            onkeyup: false,
            onclick: false,
            rules: {
                "distance": {
                    required: true,
                },
                "stopNumber": {
                    required: true,
                },
            },
            messages: {
                "distance": {
                    required: "Bắt buộc nhập khoảng cách tuyến",
                },
                "stopNumber": {
                    required: "Bắt buộc nhập số lượng điểm dừng",
                }
            }
        });

        $(".update-route").click(async event => {
            console.log(event);
            const routeId = $(event.currentTarget).attr("route-id");
            console.log(routeId);

            let currentRoute = null;
            await $.ajax({
                url: '/api/routes/' + routeId,
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                    currentRoute= data;
                },
                error: function (data) {
                    console.log(data);
                    toastr.warning(data.responseJSON.message);
                }
            });

            if (!currentRoute) {
                return ;
            }

            $('#route-update-modal #distance').val(currentRoute.distance);
            $('#route-update-modal #stopNumber').val(currentRoute.stopNumber);

            $('#route-update-modal #submit-update-route').attr("route-id", routeId);
            $('#route-update-modal').modal('show');

        });

        $("#submit-update-route").click(() => {
            const isValidForm = $("#route-update-modal-form").valid();
            if (!isValidForm) {
                return;
            }

            const routeId = $('#route-update-modal #submit-update-route').attr("route-id");
            const formData = $('#route-update-modal-form').serializeArray();
            console.log(formData);
            if (!formData || formData.length === 0) {
                return;
            }
            const requestData = {};
            for (let i = 0; i < formData.length; i++) {
                requestData[formData[i].name] = formData[i].value;
            }
            $.ajax({
                url: '/api/routes/' + routeId,
                type: 'PUT',
                data: JSON.stringify(requestData),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    toastr.success("Cập nhật tuyến đường thành công");
                    setTimeout(() => {
                        location.reload();
                    }, 1000);
                },
                error: function (data) {
                    toastr.warning(data.responseJSON.message);
                }
            });
        });
        });
</script>