<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout_dashboard_admin :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">

<head>

  <title>Partner Dashboard</title>

  <th:block id="css-resources">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
    <style>
      .select2-container .select2-selection--single {
        height: 45px; /* Thay đổi chiều cao theo ý muốn */
        border: 1px solid #e9ecef;
        border-radius: 10px;
      }

      .select2-container--default .select2-selection--single .select2-selection__arrow b {
        margin-left: -17px;
        margin-top: 7px;
      }

      .select2-container .select2-selection--single .select2-selection__rendered {
        padding-left: 15px;
      }
      .custom-error-message {
        color: red;
        font-size: 12px;
        /* Các thuộc tính CSS khác tùy chỉnh hiển thị */
      }
    </style>
  </th:block>
</head>

<body>

<main id="main-content">
  <div class="page-content">

    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="mb-5">Change Password</h4>
            <div class="container">

              <form class="forms-sample mt-3" id="uploadForm">
                  <div class="col-lg-4 mb-4">
                    <label for="currentPassword" class="form-label">Current Password <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" id="currentPassword" autocomplete="off"
                           placeholder name="currentPassword">
                    <small id="currentPasswordError" style="color: #e74c3c"></small>
                  </div>
                  <div class="col-lg-4 mb-4">
                    <label for="newPassword" class="form-label">New Password <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" id="newPassword" autocomplete="off"
                           placeholder name="newPassword">
                  </div>
                  <div class="col-lg-4 mb-4">
                    <label for="confirmNewPassword" class="form-label">Re-enter New Password <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" id="confirmNewPassword" autocomplete="off"
                           placeholder name="confirmNewPassword">
                  </div>
              </form>

              <div class="text-right pt-2">
                <button type="submit" class="btn btn-primary change-password-btn"
                        id="change-password-btn"><i class="link-icon"
                                                         data-feather="save"></i> Change Password
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>

<th:block id="js-resources">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
          integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

  <script>
    $(document).ready(function () {
      let userInfoStr = JSON.parse(localStorage.getItem("userInfo"))
      $("#uploadForm").validate({
        onfocusout: false,
        onkeyup: false,
        onclick: false,
        rules: {
          currentPassword: {
            required: true
          },
          newPassword: {
            required: true,
            minlength: 6,
          },
          confirmNewPassword: {
            required: true,
            equalTo: "#newPassword"
          }
        },
        messages: {
          currentPassword: "Please enter Current Password",
          newPassword: {
            required: "Please enter New Password",
            minlength: "New Password should be at least 6 characters",
            notEqualTo: "New Password should be different with CurrentPassword"
          },
          confirmNewPassword: {
            required: "Please re-enter New Password",
            equalTo: "Confirm New Password is not match with New Password"
          }
        },
        errorClass: "custom-error-message"
      });
      $('#change-password-btn').click(function (e) {

        e.preventDefault();
        if ($("#uploadForm").valid()) {
          let formdata = {
            userId: userInfoStr.id,
            currentPassword: $('#currentPassword').val(),
            newPassword: $('#newPassword').val(),
            confirmNewPassword: $('#confirmNewPassword').val()
          }

          $.ajax({
            url: '/api/v1/authentication/change-password',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(formdata),
            success: function () {
              console.log('ok')
              toastr.success('Change password successfully, please log in again');
              setTimeout(function() {
                logout();
              }, 1000)

              cleanInput()

            },
            error: function (xhr, status, error) {
              $('#currentPasswordError').text('Current password is not correct')
            },
            complete: function () {
              hideLoading();
            }
          })
        }
        function logout() {
          $.ajax({
            url: '/api/v1/authentication/logout',
            type: 'POST',
            success: function (response) {
              console.log('ok')

              // Xóa dữ liệu trong Local Storage
              localStorage.removeItem('jwt');
              localStorage.removeItem('userInfo');
              localStorage.removeItem('refreshToken');
              window.location.href = `http://localhost:8080`;
            },
            error: function (error) {
              console.log('Đăng xuất thất bại', error);
            }
          });
        }
      });
    });
  </script>
</th:block>
</body>

</html>