<th:block th:fragment="footer">
<footer class="pt-20 pb-4" style="background-image: url(assets/user/images/background_pattern.png);">

  <div class="insta-main pb-10">
    <div class="container">
      <div class="insta-inner">
        <div class="follow-button">
          <h5 class="m-0 rounded"><i class="fab fa-instagram"></i> Follow on Instagram</h5>
        </div>
        <div class="row attract-slider">
          <div class="col-md-3 col-sm-6">
            <div class="insta-image rounded">
              <a href="gallery.html"><img src="assets/user/images/insta/ins-3.jpg" alt="insta"></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="insta-image rounded">
              <a href="gallery.html"><img src="assets/user/images/insta/ins-4.jpg" alt="insta"></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="insta-image rounded">
              <a href="gallery.html"><img src="assets/user/images/insta/ins-5.jpg" alt="insta"></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="insta-image rounded">
              <a href="gallery.html"><img src="assets/user/images/insta/ins-1.jpg" alt="insta"></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="insta-image rounded">
              <a href="gallery.html"><img src="assets/user/images/insta/ins-7.jpg" alt="insta"></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="insta-image rounded">
              <a href="gallery.html"><img src="assets/user/images/insta/ins-8.jpg" alt="insta"></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="insta-image rounded">
              <a href="gallery.html"><img src="assets/user/images/insta/ins-2.jpg" alt="insta"></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="insta-image rounded">
              <a href="gallery.html"><img src="assets/user/images/insta/ins-6.jpg" alt="insta"></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="insta-image rounded">
              <a href="gallery.html"><img src="assets/user/images/insta/ins-9.jpg" alt="insta"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-upper pb-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4 pe-4">
          <div class="footer-about">
            <img src="assets/user/images/logo-white.png" alt>
            <p class="mt-3 mb-3 white">
              Travel to live, Live to travel
            </p>
            <ul>
              <li class="white"><strong>Email:</strong> toantravel@gmail.com
              </li>
              <li class="white"><strong>Website:</strong> www.Toantravel.com</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-1 col-md-6 col-sm-12 mb-4">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
          <div class="footer-links">
            <h3 class="white">About us</h3>
            <ul>
              <li><a href="about-us.html">Term and Privacy</a></li>
              <li><a href="about-us.html">Contact us</a></li>
              <li><a href="about-us.html">Blog</a></li>

            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
          <div class="footer-links">
            <h3 class="white">Categories</h3>
            <ul>
              <li><a href="about-us.html">Hotel</a></li>
              <li><a href="about-us.html">Tours</a></li>
              <li><a href="about-us.html">Facebook</a></li>
              <li><a href="about-us.html">Instagram</a></li>
              <li><a href="about-us.html">Twitter</a></li>
              <li><a href="about-us.html">Pinterest</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-1 col-md-6 col-sm-12 mb-4">

        </div>

      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      <div class="copyright-inner rounded p-3 d-md-flex align-items-center justify-content-between">
        <div class="copyright-text">
          <p class="m-0 white">2022 Travelin. All rights reserved.</p>
        </div>
        <div class="social-links">
          <ul>
            <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="particles-js"></div>
</footer>

</th:block>