<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout_dashboard_partner :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">

<head>

    <title>Partner Dashboard</title>

    <th:block id="css-resources">
        <!-- Thư viện Select2 -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>

        <style>
            .select2-container--default .select2-selection--multiple .select2-selection__choice {
                background-color: #029e9d;
                border: 1px solid #fff;
            }

            .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
                color: #fff;
            }

            .select2-container--default .select2-selection--multiple {
                border: 1px solid #e9ecef;
                border-radius: 10px;
            }

            .upload-box {
                position: relative;
                border: 2px dashed #ccc;
                padding: 30px;
                text-align: center;
                cursor: pointer;
            }

            .upload-box p {
                margin: 0;
                font-size: 16px;
                color: #ccc; /* Màu xám cho chữ "upload" */
            }

            .upload-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 24px;
            }

            .preview-container {
                display: flex;
                flex-wrap: wrap;
            }

            .preview-image-container {
                position: relative;
                margin: 5px;
            }

            .preview-image {
                max-width: 100px;
                max-height: 100px;
            }

            .delete-button {
                position: absolute;
                top: -10px;
                right: -10px;
                background-color: gray;
                color: #fff;
                width: 24px;
                height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                cursor: pointer;
                border-radius: 50%; /* Đặt border-radius là 50% để tạo hình tròn */
            }
        </style>
    </th:block>

</head>

<body>

<main id="main-content">

    <div class="page-content">
        <nav class="page-breadcrumb d-flex align-items-center justify-content-between">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="dashboard.html">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="popup-ads.html">Room</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add Room</li>
            </ol>
            <a href="/partner/room-management" class="btn btn-primary"><i class="link-icon"
                                                                          data-feather="arrow-left"></i> Back To
                List</a>
        </nav>
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-4">Room Information</h4>
                        <form class="forms-sample" id="uploadForm">
                            <div class="row">
                                <!--                                <div class="col-lg-12 mb-5">-->
                                <!--                                    <label for="roomImages" class="form-label">Room Photos</label>-->
                                <!--                                    <input class="form-control multi file-upload-input with-preview" type="file" name="files[]"-->
                                <!--                                           id="roomImages" multiple maxlength="3">-->
                                <!--                                </div>-->

                                <div class="col-lg-8 mb-4">
                                    <label for="roomImages" class="form-label">Room Photos</label>
                                    <div id="uploadBox" class="upload-box">
                                        <i class="me-2 icon-md" data-feather="upload"></i>
                                        <p>Click or drag images here to upload</p>
                                    </div>
                                    <input class="form-control multi file-upload-input with-preview" type="file" name="files[]"
                                           id="roomImages" multiple maxlength="3" style="display: none;">
                                </div>
                                <div class="col-lg-12 mb-5">
                                    <div class="preview-container" id="previewContainer"></div>
                                </div>


                                <div class="col-lg-4 mb-5">
                                    <label for="roomName" class="form-label">Room Name <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="roomName" autocomplete="off"
                                           placeholder="Enter name" name="name">
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <label for="roomPrice" class="form-label">Room Price <span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" id="roomPrice" autocomplete="off"
                                           placeholder="Enter price" name="price" oninput="validateNumberInput(this)">
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <label for="roomCapacity" class="form-label"> Capacity <span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" id="roomCapacity" autocomplete="off"
                                           placeholder="Enter capacity" name="capacity">
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <label for="roomQuantity" class="form-label"> Room Quantity <span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" id="roomQuantity" autocomplete="off"
                                           placeholder="Enter quantity" name="quantity">
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <label for="roomStatusList" class="form-label">Status <span class="text-danger">*</span></label>
                                    <select class="form-select" id="roomStatusList">
                                        <option th:each="status : ${roomStatusList}" th:value="${status}"
                                                th:text="${status.getName}"
                                                class="text-body"></option>
                                    </select>
                                </div>

                                <div class="col-lg-4 mb-5">
                                    <label for="facilityList" class="form-label">Facility <span class="text-danger">*</span></label>
                                    <select class="form-select facility-select" id="facilityList"
                                            data-selected-facility="">
                                        <option th:each="facility : ${facilityList}" th:value="${facility.getName}"
                                                th:text="${facility.getName}"
                                                class="text-body facility-option">Facility
                                        </option>
                                    </select>
                                </div>

                                <div class="col-lg-8 mb-5">
                                    <label for="roomDescription" class="form-label">Description <span class="text-danger">*</span></label>
                                    <textarea class="form-control" id="roomDescription" rows="4"
                                              placeholder="Enter description..." name="description"></textarea>
                                </div>

                            </div>

                            <div class="container mb-5">
                                <div class="row mb-2">
                                    <div class="col-lg-12">
                                        <button type="button" class="btn btn-primary" id="addBedButton">
                                            <i class="link-icon" data-feather="plus"></i> Thêm giường
                                        </button>
                                    </div>
                                </div>

                                <div class="row bed-row mt-3">
                                    <div class="col-lg-4">
                                        <select class="form-control form-select bed-type" name="bedType"
                                                data-selected-bed-type="">
                                            <option value="" disabled selected>Chọn loại giường <span class="text-danger">*</span></option>
                                            <option th:each="bedType : ${bedTypes}" th:value="${bedType}"
                                                    th:text="${bedType.getName}"
                                                    class="text-body" data-bed-type="${bedType}">BedType
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="number" class="form-control bed-quantity"
                                               placeholder="Nhập số lượng" name="bedQuantity">
                                    </div>
                                    <div class="col-lg-4">
                                        <button type="button" class="btn btn-danger btn-remove-bed">Xóa</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                    <div class="text-center mb-5">
                        <button type="submit" class="btn btn-primary" id="create-room-btn"><i class="link-icon"
                                                                                              data-feather="save"></i>
                            Tạo phòng mới
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Lớp overlay để làm mờ nền xung quanh -->
        <div class="overlay"></div>

        <!-- Thẻ div để hiển thị vòng xoay loading trong Bootstrap -->
        <div id="loading">
            <div class="spinner-border" role="status">
            </div>
        </div>
    </div>
</main>

<th:block id="js-resources">

    //Hiển thị phần hình ảnh khi upload
    <script>
        const uploadBox = document.getElementById('uploadBox');
        const fileInput = document.getElementById('roomImages');
        const previewContainer = document.getElementById('previewContainer');

        uploadBox.addEventListener('click', () => {
            fileInput.click();
        });

        fileInput.addEventListener('change', handleImagePreview);

        function handleImagePreview(event) {
            const files = event.target.files;
            const minFiles = 1; // Số lượng tối thiểu
            const maxFiles = 5; // Số lượng tối đa

            if (files.length < minFiles || files.length > maxFiles) {
                toastr.error(`Please select at least ${minFiles} and maximum ${maxFiles} images.`);
                fileInput.value = '';
                return;
            }

            // Xóa hết các hình ảnh preview cũ
            previewContainer.innerHTML = '';

            // Hiển thị hình ảnh preview
            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const imageBlob = new Blob([file], {type: file.type});
                const imageUrl = URL.createObjectURL(imageBlob);

                const imagePreviewContainer = document.createElement('div');
                imagePreviewContainer.classList.add('preview-image-container');
                const imagePreview = document.createElement('img');
                imagePreview.classList.add('preview-image');
                imagePreview.src = imageUrl;
                imagePreviewContainer.appendChild(imagePreview);

                // Thêm nút xóa hình ảnh
                const deleteButton = document.createElement('span');
                deleteButton.classList.add('delete-button');
                deleteButton.innerText = 'X';
                deleteButton.addEventListener('click', () => {
                    imagePreviewContainer.remove();
                });
                imagePreviewContainer.appendChild(deleteButton);

                previewContainer.appendChild(imagePreviewContainer);
            }
        }
    </script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
            integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Trong phần thẻ <script> -->
    <script>
        //Đảm bảo cho facility không chọn trước giá trị mặc định nào
        document.addEventListener("DOMContentLoaded", function () {
            const selectElement = document.getElementById("facilityList");
            selectElement.selectedIndex = -1; // Deselect all options
        });

        function validateNumberInput(inputElement) {
            // Kiểm tra giá trị nhập vào của ô input
            var inputValue = inputElement.value;
            if (isNaN(inputValue) || inputValue < 0) {
                // Nếu không phải số hoặc số âm, đặt giá trị của ô input thành rỗng
                inputElement.value = '';
            }
        }

        $(document).ready(function () {
            // Áp dụng Select2 cho phần tử <select>
            $("#facilityList").select2({
                multiple: true, // Cho phép chọn nhiều giá trị
                placeholder: "Select Facility", // Văn bản hiển thị khi chưa chọn giá trị nào
                width: "100%", // Chiều rộng của dropdown
                height: "100%",
                allowClear: true // Hiển thị nút xóa khi đã chọn giá trị
            });

            // Xử lý khi nút "Thêm giường" được ấn
            $("#addBedButton").on("click", function () {
                // Sao chép dòng giường đầu tiên và thêm vào dưới cùng
                const newBedRow = $(".bed-row:first").clone().get(0); // Hoặc có thể dùng .first()

                // Thiết lập số lượng về 1 trong dòng mới sao chép
                const quantityInput = newBedRow.querySelector(".bed-quantity");
                quantityInput.value = 1;

                $(".container").append(newBedRow);
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            // Lưu trữ loại giường đã chọn trong thuộc tính data
            const selectBoxes = document.querySelectorAll(".bed-type");
            selectBoxes.forEach(function (selectBox) {
                selectBox.addEventListener("change", function () {
                    selectBox.dataset.selectedBedType = selectBox.value;
                });
            });

            // Lắng nghe sự kiện click trên nút xóa
            document.addEventListener("click", function (event) {
                if (event.target.classList.contains("btn-remove-bed")) {

                    // Kiểm tra xem có còn ít nhất hai giường hay không
                    const bedRows = document.querySelectorAll(".bed-row");
                    if (bedRows.length <= 1) {
                        // Nếu chỉ còn một giường, không thực hiện xóa
                        return;
                    }

                    // Xóa dòng chứa giường khi người dùng nhấn nút xóa
                    event.target.closest(".bed-row").remove();
                }
            });
        });

        $(document).ready(function () {

            $("#uploadForm").validate({
                onfocusout: false,
                onkeyup: false,
                onclick: false,
                rules: {
                    name: {
                        required: true,
                        maxlength: 100
                    },
                    price: {
                        required: true,
                        number: true,
                        min: 50000
                    },
                    capacity: {
                        required: true,
                        digits: true,
                        min: 1
                    },
                    quantity: {
                        required: true,
                        digits: true,
                        min: 1
                    },
                    description: {
                        required: true,
                        maxlength: 500,
                        minlength: 20
                    },
                    bedQuantity: {
                        required: true,
                        digits: true,
                        min: 1
                    },
                    bedType: {
                        required: true
                    }
                },
                messages: {
                    name: {
                        required: "Please enter the room name.",
                        maxlength: "The room name must not exceed 100 characters."
                    },
                    price: {
                        required: "Please enter the room price.",
                        number: "Please enter a valid number.",
                        min: "Room price must be greater than or equal to 50.000."
                    },
                    capacity: {
                        required: "Please enter the room capacity.",
                        digits: "Please enter a valid whole number.",
                        min: "Room capacity must be at least 1."
                    },
                    quantity: {
                        required: "Please enter the room quantity.",
                        digits: "Please enter a valid whole number.",
                        min: "Room quantity must be at least 1."
                    },
                    description: {
                        required: "Please enter the room description.",
                        maxlength: "The room description must not exceed 500 characters.",
                        minlength: "Description must have at least 50 characters"
                    },
                    bedQuantity: {
                        required: "Please enter the number of beds.",
                        digits: "Please enter a valid whole number.",
                        min: "Number of beds must be at least 1."
                    },
                    bedType: {
                        required: "Please choose bedType"
                    }
                },
                errorClass: "custom-error-message"
            });


            document.getElementById("create-room-btn").addEventListener("click", function () {

                if ($("#uploadForm").valid()) {
                    const selectedBedTypes = [];
                    const selectBoxes = document.querySelectorAll(".bed-type");
                    selectBoxes.forEach(function (selectBox) {
                        const selectedValue = selectBox.value;
                        if (selectedValue) {
                            selectedBedTypes.push(selectedValue);
                        }
                    });

                    // Kiểm tra xem có hai bedType giống nhau hay không
                    const hasDuplicateBedType = selectedBedTypes.some(function (value, index) {
                        return selectedBedTypes.indexOf(value) !== index;
                    });

                    if (hasDuplicateBedType) {
                        // Nếu có bedType trùng lặp, hiển thị thông báo lỗi và ngăn người dùng submit form
                        event.preventDefault();
                        toastr.error("Vui lòng chọn mỗi loại giường chỉ một lần.");
                        return;
                    }

                    // Tạo formData mới
                    const formData = new FormData();

                    let userInfo = JSON.parse(localStorage.getItem("userInfo"))

                    // Thu thập thông tin từ các trường form và thêm vào formData
                    formData.append("name", document.getElementById("roomName").value);
                    formData.append("description", document.getElementById("roomDescription").value);
                    formData.append("price", document.getElementById("roomPrice").value);
                    formData.append("capacity", document.getElementById("roomCapacity").value);
                    formData.append("room_nums", document.getElementById("roomQuantity").value);
                    formData.append("roomStatus", document.getElementById("roomStatusList").value);
                    formData.append("hotelEmail", userInfo.email);

                    // Xử lý phần file ảnh từ trường "roomImages"
                    const roomImagesInput = document.getElementById("roomImages");
                    const images = roomImagesInput.files;
                    for (let i = 0; i < images.length; i++) {
                        formData.append("images", images[i]);
                    }

                    // Lấy danh sách các facility đã chọn từ Select2 và chuyển thành mảng []
                    const selectedFacilities = $("#facilityList").val();
                    formData.append("facilities", selectedFacilities);

                    // Thu thập thông tin về giường từ các dòng giường
                    const bedRows = document.querySelectorAll(".bed-row");
                    const beds = [];

                    bedRows.forEach(function (bedRow) {
                        const bedType = bedRow.querySelector(".bed-type").value;
                        const bedQuantity = bedRow.querySelector(".bed-quantity").value;

                        // Tạo đối tượng CreateBedRequest từ giá trị của trường beds
                        const bedRequest = {bedType: bedType, quantity: bedQuantity};

                        beds.push(bedRequest);
                    });

                    // Thêm mảng beds vào formData
                    beds.forEach(function (bed, index) {
                        formData.append(`beds[${index}].bedType`, bed.bedType);
                        formData.append(`beds[${index}].quantity`, bed.quantity);
                    });

                    showLoading();
                    $.ajax({
                        url: '/api/v1/partner/rooms',
                        type: 'POST',
                        processData: false,
                        contentType: false,
                        data: formData,
                        success: function (response) {
                            // Xử lý kết quả trả về từ API (nếu cần)
                            console.log('ok');
                            toastr.success('Đã tạo phòng thành công.');
                            console.log(response);
                            window.location.href = `http://localhost:8080/partner/room-management`;
                        },
                        error: function (xhr, status, error) {
                            // Xử lý lỗi (nếu có)
                            console.error(error);
                            toastr.error('Đã xảy ra lỗi khi tạo phòng.');
                        },
                        complete: function () {
                            hideLoading();
                        }
                    });
                    // Console log dữ liệu formData dưới dạng JSON
                    const formDataJSON = formDataToJSON(formData);
                    console.log(JSON.stringify(formDataJSON));
                }
            });
        });

        //Chuyển formData về Json để check trong console
        function formDataToJSON(formData) {
            const obj = {};
            formData.forEach((value, key) => {
                if (!obj.hasOwnProperty(key)) {
                    obj[key] = value;
                } else {
                    if (!Array.isArray(obj[key])) {
                        obj[key] = [obj[key]];
                    }
                    obj[key].push(value);
                }
            });
            return obj;
        }

        function checkDuplicateBed() {
            const selectedBedTypes = [];
            const selectBoxes = document.querySelectorAll(".bed-type");
            selectBoxes.forEach(function (selectBox) {
                const selectedValue = selectBox.value;
                if (selectedValue) {
                    selectedBedTypes.push(selectedValue);
                }
            });

            // Kiểm tra xem có hai bedType giống nhau hay không
            const hasDuplicateBedType = selectedBedTypes.some(function (value, index) {
                return selectedBedTypes.indexOf(value) !== index;
            });

            if (hasDuplicateBedType) {
                // Nếu có bedType trùng lặp, hiển thị thông báo lỗi và ngăn người dùng submit form
                event.preventDefault();
                toastr.error("Vui lòng chọn mỗi loại giường chỉ một lần.");
                return false;
            }
        }

        function createFormData() {
            // Tạo formData mới
            const formData = new FormData();

            let userInfo = JSON.parse(localStorage.getItem("userInfo"))

            // Thu thập thông tin từ các trường form và thêm vào formData
            formData.append("name", document.getElementById("roomName").value);
            formData.append("description", document.getElementById("roomDescription").value);
            formData.append("price", document.getElementById("roomPrice").value);
            formData.append("capacity", document.getElementById("roomCapacity").value);
            formData.append("room_nums", document.getElementById("roomQuantity").value);
            formData.append("roomStatus", document.getElementById("roomStatusList").value);
            formData.append("hotelEmail", userInfo.email);

            // Xử lý phần file ảnh từ trường "roomImages"
            const roomImagesInput = document.getElementById("roomImages");
            const images = roomImagesInput.files;
            for (let i = 0; i < images.length; i++) {
                formData.append("images", images[i]);
            }

            // Lấy danh sách các facility đã chọn từ Select2 và chuyển thành mảng []
            const selectedFacilities = $("#facilityList").val();
            formData.append("facilities", selectedFacilities);

            // Thu thập thông tin về giường từ các dòng giường
            const bedRows = document.querySelectorAll(".bed-row");
            const beds = [];

            bedRows.forEach(function (bedRow) {
                const bedType = bedRow.querySelector(".bed-type").value;
                const bedQuantity = bedRow.querySelector(".bed-quantity").value;

                // Tạo đối tượng CreateBedRequest từ giá trị của trường beds
                const bedRequest = {bedType: bedType, quantity: bedQuantity};

                beds.push(bedRequest);
            });

            // Thêm mảng beds vào formData
            beds.forEach(function (bed, index) {
                formData.append(`beds[${index}].bedType`, bed.bedType);
                formData.append(`beds[${index}].quantity`, bed.quantity);
            });
        }

    </script>
    <!--    Tạo phòng-->
    <!--    <script src="/assets/admin/js/create-edit-room.js"></script>-->


</th:block>


</body>

</html>