<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout_dashboard_partner :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">

<head>

    <title>Partner Dashboard</title>

    <th:block id="css-resources">
        <!-- Thư viện Select2 -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>

        <style>
            .select2-container--default .select2-selection--multiple .select2-selection__choice {
                background-color: #029e9d;
                border: 1px solid #fff;
            }

            .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
                color: #fff;
            }

            .select2-container--default .select2-selection--multiple {
                border: 1px solid #e9ecef;
                border-radius: 10px;
            }

        </style>
    </th:block>

</head>

<body>

<main id="main-content">

    <div class="page-content">
        <nav class="page-breadcrumb d-flex align-items-center justify-content-between">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="dashboard.html">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="popup-ads.html">Room</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Room</li>
            </ol>
            <a href="/partner/room-management" class="btn btn-primary"><i class="link-icon" data-feather="arrow-left"></i> Back To
                List</a>
        </nav>
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-4">Room Information</h4>
                        <form class="forms-sample" id="uploadForm">
                            <div class="row">
                                <div class="col-lg-12 mb-5">
                                    <label for="roomImages" class="form-label">Room Photos</label>
                                    <input class="form-control" type="file" id="roomImages" multiple>
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <label for="roomName" class="form-label" >Room Name *</label>
                                    <input type="text" class="form-control" id="roomName" autocomplete="off"
                                           placeholder name="name" th:value="${room.name}">
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <label for="roomPrice" class="form-label">Price * (VNĐ)</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="roomPrice"
                                               placeholder="Enter price" autocomplete="off" name="price" th:value="${room.price}">
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <label for="roomCapacity" class="form-label"> Capacity *</label>
                                    <input type="number" class="form-control" id="roomCapacity" autocomplete="off"
                                           placeholder name="capacity" th:value="${room.capacity}">
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <label for="roomQuantity" class="form-label"> Room Quantity *</label>
                                    <input type="number" class="form-control" id="roomQuantity" autocomplete="off"
                                           placeholder name="quantity" th:value="${room.room_nums}">
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <label for="roomStatusList" class="form-label">Status *</label>
                                    <select class="form-select" id="roomStatusList">
                                        <option th:each="status : ${roomStatusList}" th:value="${status}"
                                                th:text="${status.getName}" th:selected="${status == room.roomStatus}"
                                                class="text-body"></option>
                                    </select>
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <label for="facilityList" class="form-label">Facility *</label>
                                    <select class="form-select facility-select" id="facilityList"
                                            data-selected-facility="">
                                        <option th:each="facility : ${facilityList}"
                                                th:value="${facility.name}"
                                                th:text="${facility.name}"
                                                th:selected="${selectedFacilities.contains(facility.name)} ? 'selected' : null">Facility
                                        </option>
                                    </select>
                                </div>

                                <div class="col-lg-8 mb-5">
                                    <label for="roomDescription" class="form-label">Description</label>
                                    <textarea class="form-control" id="roomDescription" rows="4"
                                              placeholder="Enter description..." name="description"></textarea>
                                </div>

                            </div>

                            <div class="container mb-5">
                                <div class="row mb-2">
                                    <div class="col-lg-12">
                                        <button type="button" class="btn btn-primary" id="addBedButton">
                                            <i class="link-icon" data-feather="plus"></i> Thêm giường
                                        </button>
                                    </div>
                                </div>

                                <div class="row bed-row mt-3">
                                    <div class="col-lg-4">
                                        <select class="form-select bed-type" data-selected-bed-type="">
                                            <option value="" disabled selected>Chọn loại giường</option>
                                            <option th:each="bedType : ${bedTypes}" th:value="${bedType}"
                                                    th:text="${bedType.getName}"
                                                    class="text-body" data-bed-type="${bedType}">BedType
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="number" class="form-control bed-quantity" placeholder="Nhập số lượng" name="bedQuantity">
                                    </div>
                                    <div class="col-lg-4">
                                        <button type="button" class="btn btn-danger btn-remove-bed">Xóa</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                    <div class="text-center mb-5">
                        <button type="submit" class="btn btn-primary" id="create-room-btn"><i class="link-icon"
                                                                                              data-feather="save"></i>
                            Lưu thay đổi
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block id="js-resources">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
            integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script th:inline="javascript">
        let selectedFacilities = /*[[${selectedFacilities}]]*/;
        const facilitySelect = document.getElementById("facilityList");
        for (let i = 0; i < facilitySelect.options.length; i++) {
            const option = facilitySelect.options[i];
            const facilityName = option.value;
            if (selectedFacilities.includes(facilityName)) {
                option.selected = true;
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            // Áp dụng Select2 cho phần tử <select>
            $("#facilityList").select2({
                multiple: true, // Cho phép chọn nhiều giá trị
                placeholder: "Select BedType", // Văn bản hiển thị khi chưa chọn giá trị nào
                width: "100%", // Chiều rộng của dropdown
                height: "100%",
                allowClear: true // Hiển thị nút xóa khi đã chọn giá trị
            });

            // Xử lý khi nút "Thêm giường" được ấn
            $("#addBedButton").on("click", function () {
                // Sao chép dòng giường đầu tiên và thêm vào dưới cùng
                var newBedRow = $(".bed-row:first").clone();
                $(".container").append(newBedRow);
            });


        });

        document.addEventListener("DOMContentLoaded", function () {
            // Lưu trữ loại giường đã chọn trong thuộc tính data
            const selectBoxes = document.querySelectorAll(".bed-type");
            selectBoxes.forEach(function (selectBox) {
                selectBox.addEventListener("change", function () {
                    selectBox.dataset.selectedBedType = selectBox.value;
                });
            });

            // Lắng nghe sự kiện click trên nút xóa
            document.addEventListener("click", function (event) {
                if (event.target.classList.contains("btn-remove-bed")) {
                    // Xóa dòng chứa giường khi người dùng nhấn nút xóa
                    event.target.closest(".bed-row").remove();
                }
            });
        });

        $(document).ready(function () {

            $("#uploadForm").validate({
                onfocusout: false,
                onkeyup: false,
                onclick: false,
                rules: {
                    name: {
                        required: true,
                        maxlength: 100
                    },
                    price: {
                        required: true,
                        number: true,
                        min: 50000
                    },
                    capacity: {
                        required: true,
                        digits: true,
                        min: 1
                    },
                    quantity: {
                        required: true,
                        digits: true,
                        min: 1
                    },
                    description: {
                        required: true,
                        maxlength: 500,
                        minlength: 20
                    },
                    bedQuantity: {
                        required: true,
                        digits: true,
                        min: 1
                    }
                },
                messages: {
                    name: {
                        required: "Please enter the room name.",
                        maxlength: "The room name must not exceed 100 characters."
                    },
                    price: {
                        required: "Please enter the room price.",
                        number: "Please enter a valid number.",
                        min: "Room price must be greater than or equal to 50.000."
                    },
                    capacity: {
                        required: "Please enter the room capacity.",
                        digits: "Please enter a valid whole number.",
                        min: "Room capacity must be at least 1."
                    },
                    quantity: {
                        required: "Please enter the room quantity.",
                        digits: "Please enter a valid whole number.",
                        min: "Room quantity must be at least 1."
                    },
                    description: {
                        required: "Please enter the room description.",
                        maxlength: "The room description must not exceed 500 characters.",
                        minlength: "Description must have at least 50 characters"
                    },
                    bedQuantity: {
                        required: "Please enter the number of beds.",
                        digits: "Please enter a valid whole number.",
                        min: "Number of beds must be at least 1."
                    }
                },
                errorClass: "custom-error-message"
            });


            document.getElementById("create-room-btn").addEventListener("click", function () {

                if ($("#uploadForm").valid()) {
                    // Tạo formData mới
                    const formData = new FormData();

                    let userInfo = JSON.parse(localStorage.getItem("userInfo"))


                    // Thu thập thông tin từ các trường form và thêm vào formData
                    formData.append("name", document.getElementById("roomName").value);
                    formData.append("description", document.getElementById("roomDescription").value);
                    formData.append("price", document.getElementById("roomPrice").value);
                    formData.append("capacity", document.getElementById("roomCapacity").value);
                    formData.append("room_nums", document.getElementById("roomQuantity").value);
                    formData.append("roomStatus", document.getElementById("roomStatusList").value);
                    formData.append("hotelEmail", userInfo.username);

                    // Xử lý phần file ảnh từ trường "roomImages"
                    const roomImagesInput = document.getElementById("roomImages");
                    const images = roomImagesInput.files;
                    for (let i = 0; i < images.length; i++) {
                        formData.append("images", images[i]);
                    }

                    // Lấy danh sách các facility đã chọn từ Select2 và chuyển thành mảng []
                    const selectedFacilities = $("#facilityList").val();
                    formData.append("facilities", selectedFacilities);

                    // Thu thập thông tin về giường từ các dòng giường
                    const bedRows = document.querySelectorAll(".bed-row");
                    const beds = [];

                    bedRows.forEach(function (bedRow) {
                        const bedType = bedRow.querySelector(".bed-type").value;
                        const bedQuantity = bedRow.querySelector(".bed-quantity").value;

                        // Tạo đối tượng CreateBedRequest từ giá trị của trường beds
                        const bedRequest = {bedType: bedType, quantity: bedQuantity};

                        beds.push(bedRequest);
                    });

                    // Thêm mảng beds vào formData
                    beds.forEach(function (bed, index) {
                        formData.append(`beds[${index}].bedType`, bed.bedType);
                        formData.append(`beds[${index}].quantity`, bed.quantity);
                    });

                    $.ajax({
                        url: '/api/v1/partner/rooms',
                        type: 'POST',
                        processData: false,
                        contentType: false,
                        data: formData,
                        success: function (response) {
                            // Xử lý kết quả trả về từ API (nếu cần)
                            console.log('ok');
                            toastr.success('Đã tạo phòng thành công.');
                            console.log(response);
                        },
                        error: function (xhr, status, error) {
                            // Xử lý lỗi (nếu có)
                            console.error(error);
                            toastr.error('Đã xảy ra lỗi khi tạo phòng.');
                        }
                    });
                    // Console log dữ liệu formData dưới dạng JSON
                    const formDataJSON = formDataToJSON(formData);
                    console.log(JSON.stringify(formDataJSON));
                }
            });
        });

        function formDataToJSON(formData) {
            const obj = {};
            formData.forEach((value, key) => {
                if (!obj.hasOwnProperty(key)) {
                    obj[key] = value;
                } else {
                    if (!Array.isArray(obj[key])) {
                        obj[key] = [obj[key]];
                    }
                    obj[key].push(value);
                }
            });
            return obj;
        }


    </script>

</th:block>


</body>

</html>