.b2250313ee {
    background-color: var(--bui_color_white);
    border-radius: var(--bui_border_radius_200);
    display: flex;
    display: grid;
    flex-wrap: wrap;
    grid-template: 1fr 1fr/1fr 1fr;
    width: 64px
}

.e62fa0b3d5 {
    grid-gap: var(--bui_spacing_1x);
    align-content: space-between;
    height: 48px;
    justify-content: space-between;
    width: 48px
}

.b5d7981610 {
    width: 64px
}

.b68b35503a {
    width: 80px
}

.d53d7e2f04 {
    margin: var(--bui_spacing_1x)
}

.d53d7e2f04:nth-child(2) {
    grid-column: 1;
    grid-row: 2
}

.d53d7e2f04:last-child {
    grid-column: 2;
    grid-row: 2
}

.d53d7e2f04:nth-child(4) {
    grid-column: 2;
    grid-row: 1
}

.e62fa0b3d5 .d53d7e2f04 {
    margin: 0
}

.f660aace8b {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

.a572c0f1bd {
    color: var(--bui_color_black)
}

.eac45a62e8 {
    color: var(--bui_color_white)
}

.cf9cb434aa {
    color: var(--bui_color_foreground)
}

.e19a187e4f {
    color: var(--bui_color_foreground_alt)
}

.f09d1b0ec2 {
    color: var(--bui_color_accent_foreground)
}

.c4230b593f {
    color: var(--bui_color_action_foreground)
}

.e1cca92934 {
    color: var(--bui_color_callout_foreground)
}

.f95696771b {
    color: var(--bui_color_foreground_disabled)
}

.b25cf70fcd {
    color: var(--bui_color_foreground_inverted)
}

.eb93dcccc5 {
    color: var(--bui_color_destructive_foreground)
}

.af3557d5b7 {
    color: var(--bui_color_constructive_foreground)
}

.e81320a49d {
    color: var(--bui_color_foreground_disabled_alt)
}

.e6d0fb1333 {
    color: var(--bui_color_brand_primary_foreground)
}

.fbdfe8d9e8 {
    color: var(--bui_color_action_foreground_inverted)
}

.c319eb61eb {
    color: var(--bui_color_brand_genius_secondary_foreground)
}

.e29093c67f {
    color: var(--bui_color_highlighted)
}

.dd40197ed9 {
    color: var(--bui_color_action_focus)
}

.cac534c7d4 {
    color: var(--bui_color_cta_highlighted)
}

.beb452ad9c {
    color: var(--bui_color_highlighted_alt)
}

.c521ceec04 {
    color: var(--bui_color_destructive_focus)
}

.c0570724c1 {
    color: var(--bui_color_action_highlighted)
}

.f1ac337c15 {
    color: var(--bui_color_action_highlighted_alt)
}

.f197da1e66 {
    color: var(--bui_color_destructive_highlighted)
}

.d9872739a0 {
    color: var(--bui_color_destructive_highlighted_alt)
}

.e21515b918 {
    background-color: var(--bui_color_black)
}

.b03236a6b3 {
    background-color: var(--bui_color_white)
}

.d0f36402be {
    background-color: var(--bui_color_background)
}

.babe9d5c16 {
    background-color: var(--bui_color_transparent)
}

.cd48aeabfb {
    background-color: var(--bui_color_background_alt)
}

.f83e14d64b {
    background-color: var(--bui_color_cta_background)
}

.c00f6b2ba0 {
    background-color: var(--bui_color_background_base)
}

.cb730c8813 {
    background-color: var(--bui_color_black_with_alpha)
}

.cc107074bc {
    background-color: var(--bui_color_accent_background)
}

.dac3a574c6 {
    background-color: var(--bui_color_action_background)
}

.de09ff74b5 {
    background-color: var(--bui_color_callout_background)
}

.ff5ee9c17d {
    background-color: var(--bui_color_background_base_alt)
}

.adac698020 {
    background-color: var(--bui_color_background_disabled)
}

.b8314ea2ab {
    background-color: var(--bui_color_background_inverted)
}

.f9772ff0fe {
    background-color: var(--bui_color_accent_background_alt)
}

.bd8bee018a {
    background-color: var(--bui_color_action_background_alt)
}

.c5101a2775 {
    background-color: var(--bui_color_callout_background_alt)
}

.c49bf2a8b3 {
    background-color: var(--bui_color_destructive_background)
}

.f53d823f0d {
    background-color: var(--bui_color_background_disabled_alt)
}

.fe65b83bfd {
    background-color: var(--bui_color_constructive_background)
}

.dd2bc01213 {
    background-color: var(--bui_color_brand_primary_background)
}

.b4e3ae7e55 {
    background-color: var(--bui_color_destructive_background_alt)
}

.d4b670b7ac {
    background-color: var(--bui_color_constructive_background_alt)
}

.fe8c7a50a0 {
    background-color: var(--bui_color_brand_genius_primary_background)
}

.deffdd9219 {
    background-color: var(--bui_color_on_background)
}

.d183579195 {
    background-color: var(--bui_color_on_cta_background)
}

.a55525727f {
    background-color: var(--bui_color_on_accent_background)
}

.e0291a7ea9 {
    background-color: var(--bui_color_on_action_background)
}

.c8a91b3606 {
    background-color: var(--bui_color_on_callout_background)
}

.c55d570400 {
    background-color: var(--bui_color_on_destructive_background)
}

.dcbd7a0369 {
    background-color: var(--bui_color_on_constructive_background)
}

.cb24b39ec7 {
    background-color: var(--bui_color_on_brand_primary_background)
}

.bcecf52067 {
    background-color: var(--bui_color_on_brand_genius_primary_background)
}

.d4b01ae5c8 {
    background-color: var(--bui_color_background_elevation_one)
}

.a1eddbfd8f {
    background-color: var(--bui_color_background_elevation_two)
}

.e2b0b233d9 {
    background-color: var(--bui_color_accent_background_dynamic)
}

.b3d5a12dbb {
    background-color: var(--bui_color_callout_background_dynamic)
}

.e21468da4c {
    background-color: var(--bui_color_destructive_background_dynamic)
}

.fa51c1c52f {
    background-color: var(--bui_color_constructive_background_dynamic)
}

.ba0c9f804d {
    background-color: var(--bui_color_brand_primary_background_dynamic)
}

.e6499d3c45 {
    background-color: var(--bui_color_on_accent_background_dynamic)
}

.ad22176c4c {
    background-color: var(--bui_color_on_callout_background_dynamic)
}

.b9d3e2e52b {
    background-color: var(--bui_color_on_destructive_background_dynamic)
}

.dbc035efd1 {
    background-color: var(--bui_color_on_constructive_background_dynamic)
}

.c120f9409a {
    background-color: var(--bui_color_on_brand_primary_background_dynamic)
}

.df1139dfbc {
    margin: var(--bui_spacing_half)
}

.b917851211 {
    margin: var(--bui_spacing_1x)
}

.eb9c30813d {
    margin: var(--bui_spacing_2x)
}

.e43cc358fb {
    margin: var(--bui_spacing_3x)
}

.fcce1c8e2f {
    margin: var(--bui_spacing_4x)
}

.e89ef56254 {
    margin: var(--bui_spacing_6x)
}

.ab10955fe3 {
    margin: var(--bui_spacing_8x)
}

.d18d689395 {
    margin: var(--bui_spacing_12x)
}

.f65e4f693d {
    margin: var(--bui_spacing_16x)
}

.b42a82fa4e {
    margin: var(--bui_spacing_24x)
}

.d67c3f3d87 {
    margin-top: var(--bui_spacing_half)
}

.a3d4674485 {
    margin-top: var(--bui_spacing_1x)
}

.fc726c92df {
    margin-top: var(--bui_spacing_2x)
}

.fca475d420 {
    margin-top: var(--bui_spacing_3x)
}

.a907a0adbd {
    margin-top: var(--bui_spacing_4x)
}

.edbd921459 {
    margin-top: var(--bui_spacing_6x)
}

.a3e555ff36 {
    margin-top: var(--bui_spacing_8x)
}

.ed2ee1f576 {
    margin-top: var(--bui_spacing_12x)
}

.f847085118 {
    margin-top: var(--bui_spacing_16x)
}

.a62f680186 {
    margin-top: var(--bui_spacing_24x)
}

.db51bc39b2 {
    margin-bottom: var(--bui_spacing_half)
}

.a1b688d65c {
    margin-bottom: var(--bui_spacing_1x)
}

.dd07aecffe {
    margin-bottom: var(--bui_spacing_2x)
}

.b7945ef169 {
    margin-bottom: var(--bui_spacing_3x)
}

.ed06f501d8 {
    margin-bottom: var(--bui_spacing_4x)
}

.d1758a4cac {
    margin-bottom: var(--bui_spacing_6x)
}

.a9506ea41f {
    margin-bottom: var(--bui_spacing_8x)
}

.ad1fe95bdd {
    margin-bottom: var(--bui_spacing_12x)
}

.c2885f9ce9 {
    margin-bottom: var(--bui_spacing_16x)
}

.a0b240a059 {
    margin-bottom: var(--bui_spacing_24x)
}

.f150d5fc21 {
    margin-left: var(--bui_spacing_half)
}

.d2504c5283 {
    margin-left: var(--bui_spacing_1x)
}

.ca7c412386 {
    margin-left: var(--bui_spacing_2x)
}

.a0ccf3a18a {
    margin-left: var(--bui_spacing_3x)
}

.f65d2e1984 {
    margin-left: var(--bui_spacing_4x)
}

.e3d5ab80ca {
    margin-left: var(--bui_spacing_6x)
}

.cecf0308df {
    margin-left: var(--bui_spacing_8x)
}

.adba01db88 {
    margin-left: var(--bui_spacing_12x)
}

.cc942101db {
    margin-left: var(--bui_spacing_16x)
}

.a4d9943d8e {
    margin-left: var(--bui_spacing_24x)
}

.fe0aacff8f {
    margin-right: var(--bui_spacing_half)
}

.e61f091572 {
    margin-right: var(--bui_spacing_1x)
}

.cda958ae0e {
    margin-right: var(--bui_spacing_2x)
}

.ac4f808585 {
    margin-right: var(--bui_spacing_3x)
}

.d05a52e8e1 {
    margin-right: var(--bui_spacing_4x)
}

.bb878a8119 {
    margin-right: var(--bui_spacing_6x)
}

.d7765fc1c4 {
    margin-right: var(--bui_spacing_8x)
}

.e3cfe43037 {
    margin-right: var(--bui_spacing_12x)
}

.b537390929 {
    margin-right: var(--bui_spacing_16x)
}

.a9c384cdc0 {
    margin-right: var(--bui_spacing_24x)
}

.e3a860054c {
    margin-bottom: var(--bui_spacing_half);
    margin-top: var(--bui_spacing_half)
}

.e2b7a1da6b {
    margin-bottom: var(--bui_spacing_1x);
    margin-top: var(--bui_spacing_1x)
}

.af8bd933a4 {
    margin-bottom: var(--bui_spacing_2x);
    margin-top: var(--bui_spacing_2x)
}

.d01131d603 {
    margin-bottom: var(--bui_spacing_3x);
    margin-top: var(--bui_spacing_3x)
}

.afee14c901 {
    margin-bottom: var(--bui_spacing_4x);
    margin-top: var(--bui_spacing_4x)
}

.a0caa4d113 {
    margin-bottom: var(--bui_spacing_6x);
    margin-top: var(--bui_spacing_6x)
}

.ea13175f5c {
    margin-bottom: var(--bui_spacing_8x);
    margin-top: var(--bui_spacing_8x)
}

.aa0c5477e5 {
    margin-bottom: var(--bui_spacing_12x);
    margin-top: var(--bui_spacing_12x)
}

.b63b022fd2 {
    margin-bottom: var(--bui_spacing_16x);
    margin-top: var(--bui_spacing_16x)
}

.b1a8a8816f {
    margin-bottom: var(--bui_spacing_24x);
    margin-top: var(--bui_spacing_24x)
}

.cd517ccf1d {
    margin-left: var(--bui_spacing_half);
    margin-right: var(--bui_spacing_half)
}

.e129b3d94a {
    margin-left: var(--bui_spacing_1x);
    margin-right: var(--bui_spacing_1x)
}

.ed571647d3 {
    margin-left: var(--bui_spacing_2x);
    margin-right: var(--bui_spacing_2x)
}

.a6732c0e55 {
    margin-left: var(--bui_spacing_3x);
    margin-right: var(--bui_spacing_3x)
}

.d0f5fa65e9 {
    margin-left: var(--bui_spacing_4x);
    margin-right: var(--bui_spacing_4x)
}

.dea97a805a {
    margin-left: var(--bui_spacing_6x);
    margin-right: var(--bui_spacing_6x)
}

.c08945acd3 {
    margin-left: var(--bui_spacing_8x);
    margin-right: var(--bui_spacing_8x)
}

.db42e8ceb3 {
    margin-left: var(--bui_spacing_12x);
    margin-right: var(--bui_spacing_12x)
}

.a9a0adbc91 {
    margin-left: var(--bui_spacing_16x);
    margin-right: var(--bui_spacing_16x)
}

.a7941feee2 {
    margin-left: var(--bui_spacing_24x);
    margin-right: var(--bui_spacing_24x)
}

.c550f08b43 {
    padding: var(--bui_spacing_half)
}

.e55c3a2e2a {
    padding: var(--bui_spacing_1x)
}

.eeec137a27 {
    padding: var(--bui_spacing_2x)
}

.b7f49ecdcf {
    padding: var(--bui_spacing_3x)
}

.fbc79bfc01 {
    padding: var(--bui_spacing_4x)
}

.ec64794359 {
    padding: var(--bui_spacing_6x)
}

.c39b17a972 {
    padding: var(--bui_spacing_8x)
}

.b7d4aa1658 {
    padding: var(--bui_spacing_12x)
}

.a1890ded61 {
    padding: var(--bui_spacing_16x)
}

.e2d06863ea {
    padding: var(--bui_spacing_24x)
}

.d495d75432 {
    padding-top: var(--bui_spacing_half)
}

.f8308e9ed3 {
    padding-top: var(--bui_spacing_1x)
}

.f9e344ac55 {
    padding-top: var(--bui_spacing_2x)
}

.f2bc00ad30 {
    padding-top: var(--bui_spacing_3x)
}

.c7e4699150 {
    padding-top: var(--bui_spacing_4x)
}

.aaf38690fb {
    padding-top: var(--bui_spacing_6x)
}

.f2e7e7b0d1 {
    padding-top: var(--bui_spacing_8x)
}

.e2f4dbc269 {
    padding-top: var(--bui_spacing_12x)
}

.dfc962be90 {
    padding-top: var(--bui_spacing_16x)
}

.fc752de0c1 {
    padding-top: var(--bui_spacing_24x)
}

.ba01d6fe41 {
    padding-bottom: var(--bui_spacing_half)
}

.eef2b81316 {
    padding-bottom: var(--bui_spacing_1x)
}

.d3684b56b4 {
    padding-bottom: var(--bui_spacing_2x)
}

.e232cb4a57 {
    padding-bottom: var(--bui_spacing_3x)
}

.e0f4a71eb0 {
    padding-bottom: var(--bui_spacing_4x)
}

.dd68017dfc {
    padding-bottom: var(--bui_spacing_6x)
}

.eec3a1e555 {
    padding-bottom: var(--bui_spacing_8x)
}

.cbd78d9aec {
    padding-bottom: var(--bui_spacing_12x)
}

.f318e4a2f4 {
    padding-bottom: var(--bui_spacing_16x)
}

.a3441534fc {
    padding-bottom: var(--bui_spacing_24x)
}

.ec36f7a095 {
    padding-left: var(--bui_spacing_half)
}

.e74f15c3de {
    padding-left: var(--bui_spacing_1x)
}

.f46495fbbf {
    padding-left: var(--bui_spacing_2x)
}

.ae5aef1f44 {
    padding-left: var(--bui_spacing_3x)
}

.e1928d83ad {
    padding-left: var(--bui_spacing_4x)
}

.ddad062952 {
    padding-left: var(--bui_spacing_6x)
}

.f706587704 {
    padding-left: var(--bui_spacing_8x)
}

.b2a0dd1dc4 {
    padding-left: var(--bui_spacing_12x)
}

.d00040d702 {
    padding-left: var(--bui_spacing_16x)
}

.b7ee6f7dd0 {
    padding-left: var(--bui_spacing_24x)
}

.b57faaf788 {
    padding-right: var(--bui_spacing_half)
}

.b99efe54ef {
    padding-right: var(--bui_spacing_1x)
}

.fa24dab45b {
    padding-right: var(--bui_spacing_2x)
}

.ee938a8eae {
    padding-right: var(--bui_spacing_3x)
}

.b2b580c7a7 {
    padding-right: var(--bui_spacing_4x)
}

.e5bfb859f1 {
    padding-right: var(--bui_spacing_6x)
}

.f73e6dda6e {
    padding-right: var(--bui_spacing_8x)
}

.d74e6c5e37 {
    padding-right: var(--bui_spacing_12x)
}

.dc98a56024 {
    padding-right: var(--bui_spacing_16x)
}

.d8b3828d59 {
    padding-right: var(--bui_spacing_24x)
}

.f1ba878da8 {
    padding-bottom: var(--bui_spacing_half);
    padding-top: var(--bui_spacing_half)
}

.a146cfaa49 {
    padding-bottom: var(--bui_spacing_1x);
    padding-top: var(--bui_spacing_1x)
}

.e7612c386f {
    padding-bottom: var(--bui_spacing_2x);
    padding-top: var(--bui_spacing_2x)
}

.dca9859ff9 {
    padding-bottom: var(--bui_spacing_3x);
    padding-top: var(--bui_spacing_3x)
}

.ea75f045b8 {
    padding-bottom: var(--bui_spacing_4x);
    padding-top: var(--bui_spacing_4x)
}

.b0467ebaa0 {
    padding-bottom: var(--bui_spacing_6x);
    padding-top: var(--bui_spacing_6x)
}

.f57d639950 {
    padding-bottom: var(--bui_spacing_8x);
    padding-top: var(--bui_spacing_8x)
}

.bdb254bfce {
    padding-bottom: var(--bui_spacing_12x);
    padding-top: var(--bui_spacing_12x)
}

.c55a0af4ab {
    padding-bottom: var(--bui_spacing_16x);
    padding-top: var(--bui_spacing_16x)
}

.aa22d0ad61 {
    padding-bottom: var(--bui_spacing_24x);
    padding-top: var(--bui_spacing_24x)
}

.ca159fdf0a {
    padding-left: var(--bui_spacing_half);
    padding-right: var(--bui_spacing_half)
}

.f2a11b77a3 {
    padding-left: var(--bui_spacing_1x);
    padding-right: var(--bui_spacing_1x)
}

.ce096e784c {
    padding-left: var(--bui_spacing_2x);
    padding-right: var(--bui_spacing_2x)
}

.b33a2c3ea9 {
    padding-left: var(--bui_spacing_3x);
    padding-right: var(--bui_spacing_3x)
}

.e97d9475d5 {
    padding-left: var(--bui_spacing_4x);
    padding-right: var(--bui_spacing_4x)
}

.b311c92da8 {
    padding-left: var(--bui_spacing_6x);
    padding-right: var(--bui_spacing_6x)
}

.c9d31da06a {
    padding-left: var(--bui_spacing_8x);
    padding-right: var(--bui_spacing_8x)
}

.fba50121d4 {
    padding-left: var(--bui_spacing_12x);
    padding-right: var(--bui_spacing_12x)
}

.a9bc237ef9 {
    padding-left: var(--bui_spacing_16x);
    padding-right: var(--bui_spacing_16x)
}

.b4f510261f {
    padding-left: var(--bui_spacing_24x);
    padding-right: var(--bui_spacing_24x)
}

.f281db9239 {
    border-radius: var(--bui_border_radius_100)
}

.c6e3f46cd3 {
    border-radius: var(--bui_border_radius_200)
}

.b79c1387f4 {
    border-radius: var(--bui_border_radius_300)
}

.aeeb8a0418 {
    border-radius: var(--bui_border_radius_200)
}

.aeeb8a0418>*,
.aeeb8a0418>a,
.aeeb8a0418>button {
    background: var(--bui_color_background_elevation_one);
    border: var(--bui_border_width_100) solid var(--bui_color_border_alt);
    border-radius: 0;
    margin-top: -1px;
    position: relative;
    text-decoration: none;
    z-index: var(--bui_z_index_1)
}

.aeeb8a0418>:first-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: var(--bui_border_radius_200);
    border-top-right-radius: var(--bui_border_radius_200);
    margin-top: 0
}

.aeeb8a0418>:last-child {
    border-bottom-left-radius: var(--bui_border_radius_200);
    border-bottom-right-radius: var(--bui_border_radius_200)
}

.aeeb8a0418>:hover {
    z-index: var(--bui_z_index_0)
}

.ef70cf669a {
    background: var(--bui_color_background_elevation_two);
    box-shadow: var(--bui_shadow_100)
}

a.e8eebe7e52 {
    border-radius: var(--bui_border_radius_200);
    color: inherit;
    display: block;
    text-decoration: none
}

a.e8eebe7e52:hover {
    box-shadow: var(--bui_shadow_200)
}

.d4dd38cb75 {
    position: relative
}

.b5d84789f7 {
    display: flex
}

.b5d84789f7>* {
    flex-shrink: 0
}

.b29f11fdcf {
    flex: 1 1;
    min-width: 0
}

.b4db632bbc .b29f11fdcf {
    opacity: 75%
}

.b29f11fdcf>* {
    margin-top: var(--bui_spacing_4x)
}

.b29f11fdcf>:first-child {
    margin-top: 0
}

.ef5b9df724 {
    background-color: var(--bui_color_white);
    border-radius: var(--bui_border_radius_200);
    overflow: hidden
}

.a914c714f2>* {
    display: inline-block;
    vertical-align: middle
}

.a914c714f2>:before {
    content: "Â·";
    display: inline-block;
    margin: 0 var(--bui_spacing_1x)
}

.a914c714f2>:first-child:before {
    content: "";
    display: none
}

.f921422f6c.f921422f6c {
    flex: 1 1;
    margin-left: var(--bui_spacing_4x);
    min-width: 0
}

.c85fce95d8 {
    margin-right: var(--bui_spacing_2x);
    text-align: right
}

.c85fce95d8>*,
.f921422f6c>* {
    margin-top: var(--bui_spacing_1x)
}

.f921422f6c.d9dca2fa01>* {
    margin-top: var(--bui_spacing_half)
}

.c85fce95d8>:first-child,
.f921422f6c>:first-child {
    margin-top: 0
}

button.be3699fc03 {
    margin-right: -14px;
    margin-top: -14px
}

@media (max-width:575px) {
    .f798167eda {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }
}

@media (min-width:1024px) {
    .f921422f6c:not(.d9dca2fa01) {
        margin-left: var(--bui_spacing_6x)
    }
    .c85fce95d8>*,
    .f921422f6c>* {
        margin-top: var(--bui_spacing_2x)
    }
    button.be3699fc03 {
        margin-top: -10px
    }
}

.c422e24bae {
    display: flex
}

.a615141c06 {
    background-color: var(--bui_color_background_elevation_one);
    border-radius: var(--bui_border_radius_300);
    box-shadow: var(--bui_shadow_100)
}

.be6cb813b9 {
    margin-top: var(--bui_spacing_4x)
}

@media (min-width:1024px) {
    .be6cb813b9 {
        margin-top: var(--bui_spacing_6x)
    }
}

.e02f844821 a,
.e02f844821 button {
    color: inherit;
    text-decoration: none
}

.ad149bd794 {
    cursor: pointer
}

.ad149bd794:hover {
    box-shadow: var(--bui_shadow_200)
}

.c31ecb9e02 {
    background: none;
    border: none;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    display: block;
    padding: 0;
    text-align: left;
    text-decoration: none;
    width: 100%
}

.c31ecb9e02:hover {
    box-shadow: var(--bui_shadow_200)
}

.cfd9029c40 {
    align-items: center;
    background-color: var(--bui_color_background_elevation_one);
    border-radius: var(--bui_border_radius_200);
    display: flex;
    padding: var(--bui_spacing_1x) var(--bui_spacing_4x)
}

.ab68bbae66 {
    flex-shrink: 0;
    margin-right: var(--bui_spacing_2x)
}

.b9e6e47b61 {
    flex-grow: 1;
    padding: var(--bui_spacing_3x) 0
}

.ecb6bcdb83 {
    flex-shrink: 0;
    margin-left: var(--bui_spacing_2x)
}

.b3f961f6a6 .ecb6bcdb83,
[dir=rtl] .ecb6bcdb83 {
    transform: rotateY(180deg)
}

.bde5a6a988 {
    margin-right: -8px
}

.f76b5e25dc {
    margin-right: -12px
}

.f87fbd6113 {
    background-color: var(--bui_color_destructive_background_alt);
    color: var(--bui_color_destructive_foreground)
}

.d8175232f5 {
    color: var(--bui_color_callout_foreground)
}

@media (min-width:1024px) {
    .cfd9029c40 {
        padding: var(--bui_spacing_1x) var(--bui_spacing_6x)
    }
    .ab68bbae66 {
        margin-right: var(--bui_spacing_4x)
    }
    .ecb6bcdb83 {
        margin-left: var(--bui_spacing_4x)
    }
}

.da0f22c4be {
    -webkit-padding-start: var(--bui_spacing_4x);
    padding-inline-start: var(--bui_spacing_4x)
}

.ac2ccbf552 {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 4px
}

.f5259f5122 {
    height: calc(var(--bui_spacing_4x)*4);
    width: calc(var(--bui_spacing_4x)*4)
}

@media (min-width:1024px) {
    .af51f5f601 .f5259f5122 {
        height: calc(var(--bui_spacing_4x)*5);
        width: calc(var(--bui_spacing_4x)*5)
    }
}

.c6f8cac751 {
    height: 52px;
    margin-left: 14px;
    width: 52px
}

.da9ab0339e {
    background-size: cover
}

.fa574905dd {
    align-items: center;
    background-color: var(--bui_color_border_alt);
    display: flex;
    height: calc(var(--bui_spacing_4x)*4);
    justify-content: center;
    width: calc(var(--bui_spacing_4x)*4)
}

@media (min-width:1024px) {
    .af51f5f601 .fa574905dd {
        height: calc(var(--bui_spacing_4x)*5);
        width: calc(var(--bui_spacing_4x)*5)
    }
}

.ab0c864819 {
    grid-gap: 4px;
    display: grid;
    grid-template-columns: [col1] 24px [col2] 24px;
    grid-template-rows: [row1] 24px [row2] 24px
}

.ab0c864819>div {
    background-size: contain
}

.ab0c864819>div:nth-child(2) {
    grid-column: col1;
    grid-row: row2
}

.ab0c864819>div:nth-child(3) {
    grid-column: col2;
    grid-row: row2
}

.ab0c864819>div:nth-child(4) {
    grid-column: col2;
    grid-row: row1
}

.d715bbb77e>div:last-child {
    grid-column: col2;
    grid-row: row2
}

.d038d93186 {
    height: 52px;
    margin-left: 20px;
    width: 52px
}

.cd15af3f17 {
    background-color: var(--bui_color_constructive_background_alt)
}

.b6e86c44ab {
    background-color: var(--bui_color_background_alt)
}

.rtlcss .d038d93186 {
    margin-left: 0;
    margin-right: 20px
}

.aa7d7f2d8c {
    height: 52px;
    margin-left: 18px;
    position: relative;
    width: 59px
}

.rtlcss .aa7d7f2d8c {
    margin-left: 0;
    margin-right: 13px
}

.eb5f168bec {
    color: var(--bui_color_foreground_alt);
    font-weight: 700;
    left: 13px;
    position: absolute;
    text-decoration: none;
    top: 17px
}

.f1dd211952>* {
    display: inline-block;
    vertical-align: middle
}

.f1dd211952>:before {
    content: "Â·";
    display: inline-block;
    margin: 0 var(--bui_spacing_1x)
}

.f1dd211952>:first-child:before {
    content: "";
    display: none
}

.ec8f3f32f8 {
    margin-right: -14px;
    margin-top: -10px
}

.c6040c5571 a,
.c6040c5571 button {
    color: inherit;
    font-weight: inherit
}

.cd1c3f1a1e {
    cursor: default;
    position: relative;
    z-index: 1
}

.e75364db93,
.f438f0b32c {
    margin-bottom: var(--bui_spacing_2x)
}

.f438f0b32c {
    height: 12px;
    vertical-align: middle
}

.cda33bf625.d9b65d5f29 {
    border-radius: 8px
}

.f2e5bb1deb {
    align-items: center;
    display: flex
}

.f2e5bb1deb>div:nth-child(2) {
    margin-left: var(--bui_spacing_4x)
}

.d84eaa9d10 a {
    color: inherit;
    font-weight: inherit
}

.d84eaa9d10 a,
a.d84eaa9d10 {
    text-decoration: inherit
}

.d84eaa9d10 {
    padding: var(--bui_spacing_4x) 0;
    text-decoration: none
}

@media (min-width:576px) {
    .d84eaa9d10 {
        padding: 0
    }
}

a.cffc957f79,
button.cffc957f79 {
    display: flex;
    font-weight: 400;
    padding: var(--bui_spacing_4x) 0;
    text-align: left;
    text-decoration: none;
    width: 100%
}

.a19f77ce18 {
    border-radius: 100%
}

.c10063d60b {
    display: block !important;
    height: 100%;
    width: 100%
}

.c10063d60b,
.c10063d60b:link {
    color: inherit
}

.b5159626dc {
    border-radius: var(--bui_spacing_2x) !important;
    box-sizing: border-box;
    height: 100%
}

.c58d5d06dc:before {
    content: " Â· "
}

.b1dd321ea8 {
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.e5a22d0357 {
    align-items: center;
    background-color: var(--bui_color_grayscale_lighter);
    border-radius: 100%;
    display: flex;
    height: 64px;
    justify-content: center;
    width: 64px
}

.e5a22d0357.a3390bea40 {
    background-color: var(--bui_color_constructive_background_alt)
}

.c5db8bf0a5 {
    margin: 0;
    margin-left: calc(var(--bui_spacing_4x)*-1);
    margin-right: calc(var(--bui_spacing_4x)*-1);
    margin-top: calc(var(--bui_spacing_4x)*-1);
    padding: 0
}

@media (min-width:1024px) {
    .c5db8bf0a5 {
        margin-right: 0
    }
}

.c5db8bf0a5>ul {
    padding-left: var(--bui_spacing_3x);
    scroll-padding-left: var(--bui_spacing_3x)
}

.c5db8bf0a5>ul li:first-child {
    padding-left: var(--bui_spacing_1x)
}

.c5db8bf0a5>ul li:last-child {
    padding-right: var(--bui_spacing_1x)
}

.e7cfdf1d49 {
    display: flex;
    margin: var(--bui_spacing_3x) 0
}

.e196e5d460 {
    padding-left: 6px
}

.b2c4caa8fa {
    padding-left: 5px;
    padding-right: 5px
}

.a32f93f4f7 {
    margin-bottom: var(--bui_spacing_4x)
}

.da7aae788d {
    color: var(--bui_color_foreground_alt);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px
}

.f9aa8eda4b {
    color: var(--bui_color_foreground);
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: var(--bui_spacing_4x)
}

/*# sourceMappingURL=https://s3-main-01.booking.com/internal-static/capla/static/css/323.658b7b49.chunk.css.map*/