<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: main-fragment(
                                                ~{:: title},
                                                'full-header',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">

<head>
    <title>Blog</title>

    <th:block id="css-resources">

    </th:block>
</head>

<body>

<main id="main-content">
    <div class="page-content">
        <section class="breadcrumb-main pb-20 pt-14" style="background-image: url(assets/user/images/bg/bg1.jpg);">
            <div class="section-shape section-shape1 top-inherit bottom-0" style="background-image: url(assets/user/images/shape8.png);"></div>
            <div class="breadcrumb-outer">
                <div class="container">
                    <div class="breadcrumb-content text-center">
                        <h1 class="mb-3">Blog List</h1>
                        <nav aria-label="breadcrumb" class="d-block">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="dot-overlay"></div>
        </section>
        <section class="blog">
            <div class="container">
                <div class="listing-inner px-5">
                    <div class="list-results d-flex align-items-center justify-content-between">
                        <div class="list-results-sort">
                            <p class="m-0">Showing 1-5 of 80 results</p>
                        </div>
                        <div class="click-menu d-flex align-items-center justify-content-between">
                            <div class="change-list f-active me-2 rounded overflow-hidden"><a href="/blog-detail"><i class="fa fa-bars"></i></a></div>
                            <div class="change-grid me-2 rounded overflow-hidden"><a href="post-grid-1.html"><i class="fa fa-th bg-grey"></i></a></div>
                            <div class="sortby d-flex align-items-center justify-content-between ml-2">
                                <select class="niceSelect">
                                    <option value="1">Sort By</option>
                                    <option value="2">Average rating</option>
                                    <option value="3">Price: low to high</option>
                                    <option value="4">Price: high to low</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="blog-full mb-4 border-b bg-white box-shadow p-4 rounded border-all">
                        <div class="row">
                            <div class="col-lg-5 col-md-4 blog-height">
                                <div class="blog-image rounded">
                                    <a href="#" style="background-image: url(assets/user/images/blog/blog7.jpg)"></a>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-8">
                                <div class="blog-content">
                                    <h5 class="theme mb-1">Travel</h5>
                                    <h3 class="mb-2"><a href="/blog-detail" class>Harbour amid a Slowen down in singer city screening</a></h3>
                                    <p class="date-cats mb-2">
                                        <a href="post-grid-2.html" class="me-2"><i class="fa fa-file"></i> Categories</a>
                                        <a href="post-grid-2.html" class="me-2"><i class="fa fa-calendar-alt"></i> Mar 15, 2021</a>
                                        <a href="post-grid-2.html" class><i class="fa fa-user"></i> By Lorem Ipsum</a>
                                    </p>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-full mb-4 border-b bg-white box-shadow p-4 rounded border-all">
                        <div class="row">
                            <div class="col-lg-7 col-md-8">
                                <div class="blog-content">
                                    <h5 class="theme mb-1">Wedding</h5>
                                    <h3 class="mb-2"><a href="detail-2.html" class>Bring to the table win-win survival strategies</a></h3>
                                    <p class="date-cats mb-2">
                                        <a href="post-grid-2.html" class="me-2"><i class="fa fa-file"></i> Categories</a>
                                        <a href="post-grid-2.html" class="me-2"><i class="fa fa-calendar-alt"></i> Mar 15, 2021</a>
                                        <a href="post-grid-2.html" class><i class="fa fa-user"></i> By Lorem Ipsum</a>
                                    </p>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. </p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-4 blog-height">
                                <div class="blog-image rounded">
                                    <a href="#" style="background-image: url(assets/user/images/blog/blog8.jpg)"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-full mb-4 border-b bg-white box-shadow p-4 rounded border-all">
                        <div class="row">
                            <div class="col-lg-5 col-md-4 blog-height">
                                <div class="blog-image rounded">
                                    <a href="#" style="background-image: url(assets/user/images/blog/blog2.jpg);"></a>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-8">
                                <div class="blog-content">
                                    <h5 class="theme mb-1">Tech</h5>
                                    <h3 class="mb-2"><a href="detail-2.html" class>Top 8 Amazing Places to Stay in Canada</a></h3>
                                    <p class="date-cats mb-2">
                                        <a href="post-grid-2.html" class="me-2"><i class="fa fa-file"></i> Categories</a>
                                        <a href="post-grid-2.html" class="me-2"><i class="fa fa-calendar-alt"></i> Mar 15, 2021</a>
                                        <a href="post-grid-2.html" class><i class="fa fa-user"></i> By Lorem Ipsum</a>
                                    </p>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-full mb-4 border-b bg-white box-shadow p-4 rounded border-all">
                        <div class="row">
                            <div class="col-lg-7 col-md-8">
                                <div class="blog-content">
                                    <h5 class="theme mb-1">Electronic</h5>
                                    <h3 class="mb-2"><a href="detail-2.html" class>DevOps. Nanotechnology immersion along</a></h3>
                                    <p class="date-cats mb-2">
                                        <a href="post-grid-2.html" class="me-2"><i class="fa fa-file"></i> Categories</a>
                                        <a href="post-grid-2.html" class="me-2"><i class="fa fa-calendar-alt"></i> Mar 15, 2021</a>
                                        <a href="post-grid-2.html" class><i class="fa fa-user"></i> By Lorem Ipsum</a>
                                    </p>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. </p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-4 blog-height">
                                <div class="blog-image rounded">
                                    <a href="#" style="background-image: url(assets/user/images/blog/blog3.jpg);"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-full mb-4 border-b bg-white box-shadow p-4 rounded border-all">
                        <div class="row">
                            <div class="col-lg-5 col-md-4 blog-height">
                                <div class="blog-image rounded">
                                    <a href="blog-single.html" style="background-image: url(assets/user/images/blog/blog9.jpg);"></a>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-8">
                                <div class="blog-content">
                                    <h5 class="theme mb-1">Health</h5>
                                    <h3 class="mb-2"><a href="detail-2.html" class>Top 8 Amazing Places to Stay in Canada</a></h3>
                                    <p class="date-cats mb-2">
                                        <a href="post-grid-2.html" class="me-2"><i class="fa fa-file"></i> Categories</a>
                                        <a href="post-grid-2.html" class="me-2"><i class="fa fa-calendar-alt"></i> Mar 15, 2021</a>
                                        <a href="post-grid-2.html" class><i class="fa fa-user"></i> By Lorem Ipsum</a>
                                    </p>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-full mb-4 border-b bg-white box-shadow p-4 rounded border-all">
                        <div class="row">
                            <div class="col-lg-7 col-md-8">
                                <div class="blog-content">
                                    <h5 class="theme mb-1">Fashion</h5>
                                    <h3 class="mb-2"><a href="detail-2.html" class>Need to know 3 Easy Ways To Make Your iPhone Faster</a></h3>
                                    <p class="date-cats mb-2">
                                        <a href="post-grid-2.html" class="me-2"><i class="fa fa-file"></i> Categories</a>
                                        <a href="post-grid-2.html" class="me-2"><i class="fa fa-calendar-alt"></i> Mar 15, 2021</a>
                                        <a href="post-grid-2.html" class><i class="fa fa-user"></i> By Lorem Ipsum</a>
                                    </p>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. </p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-4 blog-height">
                                <div class="blog-image rounded">
                                    <a href="blog-single.html" style="background-image: url(assets/user/images/blog/blog10.jpg);"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-full mb-4 border-b bg-white box-shadow p-4 rounded border-all">
                        <div class="row">
                            <div class="col-lg-5 col-md-4 blog-height">
                                <div class="blog-image rounded">
                                    <a href="blog-single.html" style="background-image: url(assets/user/images/blog/blog11.jpg);"></a>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-8">
                                <div class="blog-content">
                                    <h5 class="theme mb-1">Food</h5>
                                    <h3 class="mb-2"><a href="detail-2.html" class>How To Make More Construction By Doing Less</a></h3>
                                    <p class="date-cats mb-2">
                                        <a href="post-grid-2.html" class="me-2"><i class="fa fa-file"></i> Categories</a>
                                        <a href="post-grid-2.html" class="me-2"><i class="fa fa-calendar-alt"></i> Mar 15, 2021</a>
                                        <a href="post-grid-2.html" class><i class="fa fa-user"></i> By Lorem Ipsum</a>
                                    </p>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-full mb-4 border-b bg-white box-shadow p-4 rounded border-all">
                        <div class="row">
                            <div class="col-lg-7 col-md-8">
                                <div class="blog-content">
                                    <h5 class="theme mb-1">Public</h5>
                                    <h3 class="mb-2"><a href="detail-2.html" class>Best garden wing supplies for the horticu ltural hopeless</a></h3>
                                    <p class="date-cats mb-2">
                                        <a href="post-grid-2.html" class="me-2"><i class="fa fa-file"></i> Categories</a>
                                        <a href="post-grid-2.html" class="me-2"><i class="fa fa-calendar-alt"></i> Mar 15, 2021</a>
                                        <a href="post-grid-2.html" class><i class="fa fa-user"></i> By Lorem Ipsum</a>
                                    </p>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. </p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-4 blog-height">
                                <div class="blog-image rounded">
                                    <a href="blog-single.html" style="background-image: url(assets/user/images/blog/blog3.jpg);"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-full mb-4 border-b bg-white box-shadow p-4 rounded border-all">
                        <div class="row">
                            <div class="col-lg-5 col-md-4 blog-height">
                                <div class="blog-image rounded">
                                    <a href="blog-single.html" style="background-image: url(assets/user/images/blog/blog5.jpg);"></a>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-8">
                                <div class="blog-content">
                                    <h5 class="theme mb-1">Tech</h5>
                                    <h3 class="mb-2"><a href="detail-2.html" class>Naturalistic a design is thriv as actual nature dies</a></h3>
                                    <p class="date-cats mb-2">
                                        <a href="post-grid-2.html" class="me-2"><i class="fa fa-file"></i> Categories</a>
                                        <a href="post-grid-2.html" class="me-2"><i class="fa fa-calendar-alt"></i> Mar 15, 2021</a>
                                        <a href="post-grid-2.html" class><i class="fa fa-user"></i> By Lorem Ipsum</a>
                                    </p>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-main text-center">
                        <ul class="pagination">
                            <li><a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

    </div>
</main>

<th:block id="js-resources">

</th:block>




</body>

</html>