<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: main-fragment(
                                                ~{:: title},
                                                'full-header',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">

<head>
    <title>Blog detail</title>

    <th:block id="css-resources">

    </th:block>
</head>

<body>
<main id="main-content">
    <div class="page-content">
        <section class="breadcrumb-main pb-20 pt-14" style="background-image: url(assets/user/images/bg/bg1.jpg);">
            <div class="section-shape section-shape1 top-inherit bottom-0" style="background-image: url(assets/user/images/shape8.png);"></div>
            <div class="breadcrumb-outer">
                <div class="container">
                    <div class="breadcrumb-content text-center">
                        <h1 class="mb-3">Blog Detail</h1>
                        <nav aria-label="breadcrumb" class="d-block">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog Detail</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="dot-overlay"></div>
        </section>

        <section class="blog">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9 mb-4">
                        <div class="blog-single">
                            <div class="blog-wrapper">
                                <h2 class="lh-sm">Apple honors eight developers with annual Apple Design Awards.</h2>
                                <div class="blog-content first-child-cap">
                                    <p class="mb-3">The property, complete with a 30-seat screening room, a 100-seat amphitheater and a swimming pond with sandy beach and outdoor shower, was asking about $40 million. Lorem ipsum dolor sit amet, consectetur adipis Vi ales
                                        elit vitae lo bortis faucibus. Lorem ipsum dolor sit amet, conse dolor sit amet, consectetu ctetur adipis Viales. Lorem ipsum dolor sit amet, cons sit amet, consectetur adi ectetur adipis Vi.<br><br>
                                        <img src="assets/user/images/section-bg1.png" alt="image" class="mb-3 rounded"> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum
                                        is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem
                                        Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                                </div>

                                <div class="blog-quote mb-4 rounded">
                                    <p class="white">“To take a trivial example, which ever undertakes laborious physical work exercise, except obtain some advantage blinded” </p>
                                    <span class="white">By Michael Delwell</span>
                                    <i class="fas fa-quote-left"></i>
                                </div>
                                <div class="blog-imagelist mb-4">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <img src="assets/user/images/trending/trending4.jpg" alt="image" class="rounded">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <img src="assets/user/images/trending/trending2.jpg" alt="image" class="rounded">
                                        </div>
                                    </div>
                                </div>
                                <div class="bigyapan mb-4">
                                    <a href="#"><img src="assets/user/images/bigyapan1.jpg" alt class="rounded"></a>
                                </div>
                                <p class="mb-4">as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will
                                    uncover many web sites still in their infancy.</p>

                                <a href="#"><img src="assets/user/images/bigyapan1.jpg" alt class="rounded"></a>
                                <div class="blog-share d-flex justify-content-between align-items-center mb-4 bg-lgrey border rounded">
                                    <div class="blog-share-tag">
                                        <ul class="inline">
                                            <li><strong>Posted In:</strong></li>
                                            <li><a href="#">Fashion,</a></li>
                                            <li><a href="#">Beauty,</a></li>
                                            <li><a href="#">Vacation,</a></li>
                                            <li><a href="#">Travel,</a></li>
                                            <li><a href="#">News</a></li>
                                        </ul>
                                    </div>
                                    <div class="header-social">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3 mb-4">
                        <div class="sidebar-sticky">
                            <div class="detail-sidebar">
                                <div class="mag-image mb-2 position-relative">
                                    <img src="assets/user/images/destination/destination1.jpg" alt="Image" class="rounded">
                                    <div class="video-button text-center position-absolute top-50 start-0 end-0 z-index1">
                                        <div class="call-button text-center">
                                            <button type="button" class="play-btn js-video-button" data-video-id="152879427" data-channel="vimeo">
                                                <i class="fa fa-play bg-blue"></i>
                                            </button>
                                        </div>
                                        <div class="video-figure"></div>
                                    </div>
                                </div>
                                <div class="detail-sidebar-item border-b pb-2 mb-2">
                                    <h5><a href="detail-1.html">Some native species quickly disappeared from Biotest Lake</a><span><a href="#">John Doe</a></span></h5>
                                </div>

                                <div id="sidebar1">
                                    <div class="sidebar-icons">
                                        <a href="#" class="me-1"><i class="fa fa-heart" aria-hidden="true"><span> 1.2K</span></i></a>
                                        <a href="#" class="me-1"><i class="fa fa-bookmark" aria-hidden="true"></i></a>
                                        <a href="#" class="me-1"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<th:block id="js-resources">

</th:block>




</body>

</html>