
<th:block th:fragment="avatar-info">
    <div class="nav-item dropdown avatar" style="display: none">
        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img id="avatarImg" class=" rounded-circle" style="width: 30px; height: 30px" src="assets/user/images/default-avatar.png" alt="profile">
        </a>
        <div class="dropdown-menu p-0" id="dropdown-menu-profile" aria-labelledby="profileDropdown">
            <div class="d-flex flex-column align-items-center border-bottom px-5 py-1">
                <div class="mb-1">
                    <img id="avatarImgBig" style="width: 68px; height: 68px" class="rounded-circle" src="assets/user/images/default-avatar.png" alt>
                </div>
                <div class="text-center">
                    <p id="profileName" class="tx-16 fw-bolder">User name</p>
                    <p class="tx-12 text-muted">
                        <a href="#"></a>
                    </p>
                </div>
            </div>
            <ul class="list-unstyled p-1" style="font-size: 13px">
                <li class="dropdown-item py-1" >
                    <a href="#" class="text-body ms-0" id="my-account-btn" >
                        <i class="far fa-user" style="padding-right: 10px";></i>
                        <span>My Account</span>
                    </a>
                </li>

                <li class="dropdown-item py-1 signout-btn" id="signout-btn" onclick="logout()">
                    <a class="text-body ms-0">
                        <i class="fas fa-sign-out-alt  mr-2"  style="padding-right: 10px";></i>
                        <span>Log Out</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</th:block>



