<!-- Modal -->
<div th:fragment="confirm-lock-user-modal" class="modal fade" id="confirmLockUser" tabindex="-1" aria-labelledby="confirmLockUser" aria-hidden="true">
     aria-labelledby="confirmLockUser" aria-hidden="true">
    <div class="modal-dialog top-20">
        <div class="modal-content">
            <div class="modal-header d-flex">
                <h4 class="modal-title me-auto" id="exampleModalLabel">Confirm lock account</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to lock this user?

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="confirmLockUserBtn" >Confirm</button>
            </div>
        </div>
    </div>
</div>

