
<div th:fragment="login-modal" class="modal fade" id="signInSignUp" tabindex="-1" role="dialog" aria-labelledby="signInSignUpLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="post-tabs">

          <ul class="nav nav-tabs nav-pills nav-fill" id="postsTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button aria-controls="login" aria-selected="false" class="nav-link active"
                      data-bs-target="#login" data-bs-toggle="tab" id="login-tab" role="tab"
                      type="button">Login</button>
            </li>
            <li class="nav-item" role="presentation">
              <button aria-controls="register" aria-selected="true" class="nav-link"
                      data-bs-target="#register" data-bs-toggle="tab" id="register-tab" role="tab"
                      type="button">Register</button>
            </li>
          </ul>

          <div class="tab-content blog-full" id="postsTabContent">

            <div aria-labelledby="login-tab" class="tab-pane fade active show" id="login"
                 role="tabpanel">
              <div class="row">
                <div class="col-lg-6">
                  <div class="blog-image rounded">
                    <a href="#"
                       style="background-image: url(/assets/user/images/trending/trending5.jpg);"></a>
                  </div>
                </div>
                <div class="col-lg-6">
                  <h4 class="text-center border-b pb-2">Login</h4>
                  <div class="log-reg-button d-flex align-items-center justify-content-between">
                    <button type="submit" class="btn btn-fb">
                      <i class="fab fa-facebook"></i> Login with Facebook
                    </button>
                    <button type="submit" class="btn btn-google">
                      <i class="fab fa-google"></i> Login with Google
                    </button>
                  </div>
                  <hr class="log-reg-hr position-relative my-4 overflow-visible">
                  <form method="post" action="#" name="contactform" id="contactform" >

                    <div class="form-group mb-4 input-row">
                      <span class="la la-envelope form-icon"></span>
                      <input type="text" class="form-control login-email" id="login-email"
                             placeholder="Email Address" autocomplete="off">
                      <small style="color: #e74c3c">Error</small>
                    </div>

                    <div class="form-group mb-2 input-row">
                      <span class="la la-lock form-icon"></span>
                      <input type="password" class="form-control login-password"
                             id="login-password" placeholder="Password" autocomplete="off">
                      <small style="color: #e74c3c">Error</small>
                    </div>

                    <div class="form-group mb-2">
                      <a href="/recover_pass" class="float-end">Lost your password?</a></h4>
                    </div>

                    <div class="input-row">
                      <button class="btn nir-btn w-100 login-btn mb-2" id="login-btn">Login</button>
                    </div>

                    <p class="text-center">Don't have an account? <a href="#"
                                                                     class="theme">Register</a></p>
                  </form>
                </div>
              </div>
            </div>

            <div aria-labelledby="register-tab" class="tab-pane fade" id="register" role="tabpanel">
              <div class="row">
                <div class="col-lg-6">
                  <div class="blog-image rounded">
                    <a href="#"
                       style="background-image: url(/assets/user/images/trending/trending5.jpg);"></a>
                  </div>
                </div>
                <div class="col-lg-6">
                  <h4 class="text-center border-b pb-2">Register</h4>

                  <hr class="log-reg-hr position-relative my-4 overflow-visible">
                  <form method="post" action="#" name="contactform1" id="contactform1">
                    <div class="form-group mb-4 input-row">
                      <span class="la la-envelope form-icon"></span>
                      <input type="text" name="user_name" class="form-control signup-email" id="signup-email"
                             placeholder="Email Address" autocomplete="off">
                      <small style="color: #e74c3c">Error</small>
                    </div>
                    <div class="form-group mb-4 input-row">
                      <span class="la la-lock form-icon"></span>
                      <input type="password" name="password_name" class="form-control signup-password"
                             id="signup-password" placeholder="Password" autocomplete="off">
                      <small style="color: #e74c3c">Error</small>
                    </div>
                    <div class="form-group mb-4 input-row">
                      <span class="la la-lock form-icon"></span>
                      <input type="password" name="password_name" class="form-control signup-confirm-password"
                             id="signup-confirm-password" placeholder="Re-enter Password" autocomplete="off">
                      <small style="color: #e74c3c">Error</small>
                    </div>
                    <div class="form-group d-flex privacy-confirm">
                      <input type="checkbox" class="custom-control-input" id="agreeTerm">
                      <label class="custom-control-label mb-0 ms-1 lh-1" for="agreeTerm">I
                        have read and accept the <a href="/term_policy" style="color: #029e9d">Terms and Privacy</a> Policy?</label>
                    </div>
                    <span class="error-message" style="color: red; font-size: 12px"></span>
                    <div class="input-row">
                      <button class="btn nir-btn w-100 signup-btn my-2" id="signup-btn">Register</button>
                    </div>

                    <p class="text-center">Already have an account? <a class="theme login-tab" data-toggle="tab" href="#login"
                                                                       role="tab">Login</a></p>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    // Chuyển đổi tab khi nhấn vào liên kết "Already have an account?"
    $("a[href='#login']").click(function() {
      $("#register-tab").removeClass("active");
      $("#login-tab").addClass("active");
      $("#register").removeClass("show active");
      $("#login").addClass("show active");
    });

    // Chuyển đổi tab khi nhấn vào liên kết "Don't have an account?"
    $("a[href='#register']").click(function() {
      $("#login-tab").removeClass("active");
      $("#register-tab").addClass("active");
      $("#login").removeClass("show active");
      $("#register").addClass("show active");
    });
  });
</script>
