<div th:fragment="reactive-modal" id="reactive-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="reactive-modal"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">ReActive Account</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body text-center">
        <p class="text-center">
          Tài khoản của bạn chưa được kích hoạt qua email. Vui lòng kiểm tra hộp thư đến và kích hoạt tài khoản trước khi đăng nhập.
          Nếu không tìm thấy email kích hoạt, bạn có thể nhấn vào nút dưới đây để gửi lại email kích hoạt.
        </p>
        <button class="resend-activation-btn btn btn-success mt-3">Gửi lại email kích hoạt</button>
      </div>
    </div>
  </div>
</div>