<div th:fragment="view-room-modal" class="modal fade" id="viewRoom" tabindex="-1" aria-labelledby="viewRoom" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLabel">Room Detail</h5>
      </div>
      <div class="modal-body">
        <table id="dataTableExample" class="table">
          <tbody>
          <tr>
            <td>ID</td>
            <td></td>
          </tr>
          <tr>
            <td>Name</td>
            <td>Bungalow</td>
          </tr>
          <tr>
            <td>Room Quantity</td>
            <td>3</td>
          </tr>
          <tr>
            <td>Booked Room</td>
            <td>2</td>
          </tr>
          <tr>
            <td>Available Room</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Capacity</td>
            <td>2</td>
          </tr>
          <tr>
            <td>Description</td>
            <td>Good</td>
          </tr>
          <tr>
            <td>Facilities</td>
            <td>TV, Wifi</td>
          </tr>
          <tr>
            <td>Beds</td>
            <td>1 giường đơn, 2 giường đôi, 0 giường King</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>