<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Danh sách chủ đề</title>

    <!-- Link google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&amp;display=swap"
          rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!-- Link icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer">

    <!-- Link tự viết -->
    <link rel="stylesheet" href="/css/style-admin.css">
</head>

<body>
<!-- BODY -->
<!--HEADER-->
<div class="header d-flex align-items-center">
    <div class="container-fluid">
        <div class="d-flex justify-content-start align-items-center">
            <div class="logo">
                <a th:href="@{/}">
                    <img src="https://techmaster.vn/resources/image/logo-techmaster/white/white_200x74.png" alt="logo">
                </a>
            </div>
            <div class="menu">
                <a class="text-white ms-5" th:href="@{/}">Danh sách khóa học</a>
                <a class="text-white ms-3" th:href="@{/admin/course/createForm}">Tạo khóa học</a>
            </div>
        </div>
    </div>
</div>


<div class="topic-list mt-4 mb-4">
    <div class="container">
        <div class="mb-4">
            <a href="#" class="btn-custom btn-create-course" data-bs-toggle="modal" data-bs-target="#topic-create">
                <span><i class="fa-solid fa-plus"></i></span>
                Tạo chủ đề
            </a>
            <a href="#" class="btn-custom btn-refresh">
                <span><i class="fa-solid fa-arrow-rotate-right"></i></span>
                Refresh
            </a>
        </div>

<!--        <div th:insert="admin/topic/topic-create :: topic-create"></div>-->
        <!-- Modal create-->
        <div class="modal fade" id="topic-create" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Tạo chủ đề</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="#" id="topic-create-form">
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" class="form-control" id="topic-name-create" name="name" placeholder="Enter name">
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary" id="topic-create-submit">Xác nhận</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal edit-->
        <div class="modal fade" id="topic-edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cập nhật chủ đề</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="#" id="topic-edit-form">
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" class="form-control" id="topic-name-edit" name="name" placeholder="Enter name">
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary" id="topic-edit-submit">Xác nhận</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="course-list-inner p-2 col-6">
            <table class="table course-table">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Chủ đề</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="topic, iS : ${topicPage.getContent()}">
                    <td th:text="${iS.index + 1}">1</td>
                    <td th:text="${topic.name}">1</td>
                    <td>
                        <a role="button" class="update-topic badge bg-warning text-body px-3 py-2"
                           style="font-size: 1rem; font-weight: normal" data-bs-toggle="modal" data-bs-target="#topic-edit"
                           th:attr="topic-id=${topic.id}">
                            Edit
                        </a>
                        <a role="button" class="btn-delete-topic badge bg-danger px-3 py-2"
                           style="font-size: 1rem; font-weight: normal;" th:attr="topic-id=${topic.id}">
                            Delete
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <nav aria-label="Page navigation" class="d-flex justify-content-center mt-4">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/admin/topics?page={page} (page=${currentPage - 1})}">Previous</a>
                    </li>
                    <li class="page-item" th:each="page : ${#numbers.sequence(1, topicPage.getTotalPages())}" th:classappend="${currentPage == page ? 'active' : ''}">
                        <a class="page-link" th:href="@{/admin/topics(page=${page})}"><span th:text="${page}"></span></a>
                    </li>
                    <li class="page-item" th:classappend="${currentPage == topicPage.getTotalPages() ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/admin/topics(page=${currentPage + 1})}">Next</a>
                    </li>
                </ul>
            </nav>

            <div id="pagination-container" class="d-flex justify-content-center my-4"></div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>

<!-- axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script th:inline="javascript">
    $(".btn-refresh").click(function() {
        location.reload();
    });
    // let topicPage=[[${topicPage}]]

    $(document).ready(function() {

        $('#topic-create-form').validate({
            onfocusout: false,
            onkeyup: false,
            onclick: false,
            rules: {
                name: 'required'
            },
            messages: {
                name: 'Vui lòng nhập topic'
            }
        });

        $('#topic-create-submit').click(function () {
            const isValidForm = $('#topic-create-form').valid();
            if (!isValidForm) {
                return;
            }
            let topicName = $('#topic-name').val()

            let formData = {
                name: topicName
            }
            console.log(formData)

            $.ajax({
                url: '/api/v1/admin/topics',
                type: 'POST',
                data: JSON.stringify(formData),
                contentType: 'application/json',
                success: function(response) {
                    alert("Thêm mới topic thành công");
                },
                error: function(xhr, status, error) {
                    // Xử lý lỗi
                    console.error('Lỗi khi gửi form:', error);
                }
            })
        });

        $('#topic-edit-form').validate({
            onfocusout: false,
            onkeyup: false,
            onclick: false,
            rules: {
                name: 'required'
            },
            messages: {
                name: 'Vui lòng nhập topic'
            }
        });


        $('.update-topic').click(async event => {
            console.log(event)
            const topicId = $(event.currentTarget).attr("topic-id");
            console.log(topicId);

            // const courseName = document.getElementById("topic-name-edit");
            // courseName.value
            // console.log(courseName)
            $.ajax({
                url: '/api/v1/admin/topic/' + topicId,
                type: 'GET',
                success: function (response) {
                    console.log(response.name);
                    $('#topic-name-edit').val(response.name);
                }
            })
        });

        $('.btn-delete-topic').click(function () {
            if (!confirm("Bạn có chắc chắn xóa không")) {
                return;
            }
            const topicId = $(event.currentTarget).attr("topic-id");
            console.log(topicId);
            $.ajax({
                url: 'http://localhost:8080/api/admin/topics/' + topicId,
                type: 'DELETE',
                success: function (response) {
                    alert("Xóa chủ đề thành công");
                    window.location.href = 'http://localhost:8080/admin/topics';
                },
                error: function (xhr, status, error) {
                    console.log(error);
                    alert("Đã xảy ra lỗi khi xóa chủ đề");
                }
            })

        });
    });
</script>
</body>

</html>