<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: main-fragment(
                                                ~{:: title},
                                                'full-header',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">

<head>

    <title>Check out</title>

    <th:block id="css-resources">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/bootstrap-select.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/line-awesome.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/owl.carousel.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/owl.theme.default.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/jquery.fancybox.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/daterangepicker.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/animate.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/animated-headline.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/jquery-ui.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/flag-icon.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/hotel-list.css}">

        <style>
            .icon-element {
                margin-left: 0px;
                margin-right: 8px;
            }

            h1, h2, h3, h4, h5, h6 {
                font-family: "Roboto", sans-serif;
            }
        </style>
        <!--    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
    </th:block>
</head>

<body>
<main id="main-content">
    <div class="page-content">

        <section class="breadcrumb-area bread-bg-10"
                 style="background-image: url(https://images.pexels.com/photos/189296/pexels-photo-189296.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)">
            <div class="breadcrumb-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb-content text-center">
                                <div class="section-heading">
                                    <h2 class="sec__title text-white">Checkout</h2>
                                </div>
                                <span class="arrow-blink">
                            <i class="la la-arrow-down"></i>
                        </span>
                            </div>
                            <!-- end breadcrumb-content -->
                        </div>
                        <!-- end col-lg-12 -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </div>
            <!-- end breadcrumb-wrap -->
            <div class="bread-svg-box">
                <svg class="bread-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10"
                     preserveAspectRatio="none">
                    <polygon points="100 0 50 10 0 0 0 10 100 10"></polygon>
                </svg>
            </div>
            <!-- end bread-svg -->
        </section>

        <section class="booking-area padding-top-100px padding-bottom-70px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="form-box">
                            <div class="form-title-wrap">
                                <h3 class="title">Booking Submission</h3>
                            </div>
                            <!-- form-title-wrap -->
                            <div class="form-content ">
                                <div class="contact-form-action">
                                    <form method="post">
                                        <div class="row">
                                            <div class="col-lg-6 responsive-column">
                                                <div class="input-box">
                                                    <label class="label-text">Your Full Name</label>
                                                    <div class="form-group">
                                                        <span class="la la-user form-icon"></span>
                                                        <input class="form-control customerName" type="text" name="text"
                                                               placeholder="First name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 responsive-column">
                                                <div class="input-box">
                                                    <label class="label-text">Your Email</label>
                                                    <div class="form-group">
                                                        <span class="la la-envelope-o form-icon"></span>
                                                        <input class="form-control customerEmail" type="email"
                                                               name="email" placeholder="Email address">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end col-lg-6 -->
                                            <div class="col-lg-6 responsive-column">
                                                <div class="input-box">
                                                    <label class="label-text">Phone Number</label>
                                                    <div class="form-group">
                                                        <span class="la la-phone form-icon"></span>
                                                        <input class="form-control customerPhone" type="text"
                                                               name="text" placeholder="Phone Number">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end col-lg-6 -->
                                            <div class="col-lg-12 responsive-column">
                                                <div class="input-box">
                                                    <label class="label-text">Address Line</label>
                                                    <div class="form-group">
                                                        <span class="la la-map-marked form-icon"></span>
                                                        <input class="form-control customerAddress" type="text"
                                                               name="text" placeholder="Address line">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                                <!-- end contact-form-action -->
                            </div>
                            <!-- end form-content -->
                        </div>
                        <!-- end form-box -->
                        <div class="form-box">
                            <div class="form-title-wrap">
                                <h3 class="title">Your Card Information</h3>
                            </div>
                            <!-- form-title-wrap -->
                            <div class="form-content">
                                <div class="section-tab check-mark-tab text-center pb-4">
                                    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="credit-card-tab" data-toggle="tab"
                                               href="#credit-card" role="tab" aria-controls="credit-card"
                                               aria-selected="false">
                                                <i class="la la-check icon-element"></i>
                                                <img src="/assets/component/images/payment-img.png" alt="">
                                                <span class="d-block pt-2">Payment with credit card</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="paypal-tab" data-toggle="tab" href="#paypal"
                                               role="tab" aria-controls="paypal" aria-selected="true">
                                                <i class="la la-check icon-element"></i>
                                                <img src="/assets/component/images/paypal.png" alt="">
                                                <span class="d-block pt-2">Payment with PayPal</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="payoneer-tab" data-toggle="tab" href="#payoneer"
                                               role="tab" aria-controls="payoneer" aria-selected="true">
                                                <i class="la la-check icon-element"></i>
                                                <img src="/assets/component/images/payoneer.png" alt="">
                                                <span class="d-block pt-2">Payment with payoneer</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- end section-tab -->
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="credit-card" role="tabpanel"
                                         aria-labelledby="credit-card-tab">
                                        <div class="contact-form-action">
                                            <form method="post">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="input-box">
                                                            <label class="label-text">Card Holder Name</label>
                                                            <div class="form-group">
                                                                <span class="la la-credit-card form-icon"></span>
                                                                <input class="form-control" type="text" name="text"
                                                                       placeholder="Card holder name">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end col-lg-6 -->
                                                    <div class="col-lg-6">
                                                        <div class="input-box">
                                                            <label class="label-text">Card Number</label>
                                                            <div class="form-group">
                                                                <span class="la la-credit-card form-icon"></span>
                                                                <input class="form-control" type="text" name="text"
                                                                       placeholder="Card number">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end col-lg-6 -->
                                                    <div class="col-lg-6">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="input-box">
                                                                    <label class="label-text">Expiry Month</label>
                                                                    <div class="form-group">
                                                                        <span class="la la-credit-card form-icon"></span>
                                                                        <input class="form-control" type="text"
                                                                               name="text" placeholder="MM">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="input-box">
                                                                    <label class="label-text">Expiry Year</label>
                                                                    <div class="form-group">
                                                                        <span class="la la-credit-card form-icon"></span>
                                                                        <input class="form-control" type="text"
                                                                               name="text" placeholder="YY">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end col-lg-6 -->
                                                    <div class="col-lg-6">
                                                        <div class="input-box">
                                                            <label class="label-text">CVV</label>
                                                            <div class="form-group">
                                                                <span class="la la-pencil form-icon"></span>
                                                                <input class="form-control" type="text" name="text"
                                                                       placeholder="CVV">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end col-lg-6 -->
                                                    <div class="col-lg-12">
                                                        <div class="input-box">
                                                            <div class="form-group">
                                                                <div class="custom-checkbox">
                                                                    <input type="checkbox" id="agreechb">
                                                                    <label for="agreechb">By continuing, you agree to
                                                                        the <a href="#">Terms and
                                                                            Conditions</a>.</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end col-lg-12 -->
                                                    <div class="col-lg-12">
                                                        <div class="btn-box">
                                                            <button class="theme-btn" type="submit">Confirm Booking
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!-- end col-lg-12 -->
                                                </div>
                                            </form>
                                        </div>
                                        <!-- end contact-form-action -->
                                    </div>
                                    <!-- end tab-pane-->
                                    <div class="tab-pane fade" id="paypal" role="tabpanel" aria-labelledby="paypal-tab">
                                        <div class="contact-form-action">
                                            <form method="post">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="input-box">
                                                            <label class="label-text">Email Address</label>
                                                            <div class="form-group">
                                                                <span class="la la-envelope form-icon"></span>
                                                                <input class="form-control" type="email" name="email"
                                                                       placeholder="Enter email address">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end col-lg-6 -->
                                                    <div class="col-lg-6">
                                                        <div class="input-box">
                                                            <label class="label-text">Password</label>
                                                            <div class="form-group">
                                                                <span class="la la-lock form-icon"></span>
                                                                <input class="form-control" type="text" name="text"
                                                                       placeholder="Enter password">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end col-lg-6 -->
                                                    <div class="col-lg-12">
                                                        <div class="btn-box">
                                                            <button class="theme-btn" type="submit">Login Account
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!-- end col-lg-12 -->
                                                </div>
                                            </form>
                                        </div>
                                        <!-- end contact-form-action -->
                                    </div>
                                    <!-- end tab-pane-->
                                    <div class="tab-pane fade" id="payoneer" role="tabpanel"
                                         aria-labelledby="payoneer-tab">
                                        <div class="contact-form-action">
                                            <form method="post">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="input-box">
                                                            <label class="label-text">Email Address</label>
                                                            <div class="form-group">
                                                                <span class="la la-envelope form-icon"></span>
                                                                <input class="form-control" type="email" name="email"
                                                                       placeholder="Enter email address">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end col-lg-6 -->
                                                    <div class="col-lg-6">
                                                        <div class="input-box">
                                                            <label class="label-text">Password</label>
                                                            <div class="form-group">
                                                                <span class="la la-lock form-icon"></span>
                                                                <input class="form-control" type="text" name="text"
                                                                       placeholder="Enter password">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end col-lg-6 -->
                                                    <div class="col-lg-12">
                                                        <div class="btn-box">
                                                            <button class="theme-btn" type="submit">Login Account
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!-- end col-lg-12 -->
                                                </div>
                                            </form>
                                        </div>
                                        <!-- end contact-form-action -->
                                    </div>
                                    <!-- end tab-pane-->
                                </div>
                                <!-- end tab-content -->
                            </div>
                            <!-- end form-content -->
                        </div>
                        <!-- end form-box -->
                    </div>
                    <!-- end col-lg-8 -->
                    <div class="col-lg-4">
                        <div class="form-box booking-detail-form">
                            <div class="form-title-wrap">
                                <h3 class="title">Your Booking</h3>
                            </div>
                            <!-- end form-title-wrap -->
                            <div class="form-content">
                                <div class="card-item shadow-none radius-none mb-0">
                                    <div class="card-img pb-4">
                                        <a href="room-details.html" class="d-block">
                                            <img src="/assets/component/images/img5.jpg" alt="room-img">
                                        </a>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <h3 class="card-title room-name">Premium Lake View Room</h3>
                                                <p class="card-meta hotel-name">Mariana's hotel, Mexico</p>
                                            </div>
                                            <div>
                                                <a href="room-details.html" class="btn ml-1"><i class="la la-edit"
                                                                                                data-toggle="tooltip"
                                                                                                data-placement="top"
                                                                                                title="Edit"></i></a>
                                            </div>
                                        </div>
                                        <div class="section-block"></div>
                                        <ul class="list-items list-items-2 list-items-flush py-2">
                                            <li class="font-size-15">
                                                <span class="w-auto d-block mb-n1">
                                                <i class="la la-calendar mr-1 font-size-17"></i>From</span>
                                                <span id="checkInDate"></span>
                                            </li>
                                            <br>
                                            <li class="font-size-15"><span class="w-auto d-block mb-n1">
                                                <i class="la la-calendar mr-1 font-size-17"></i>To</span>
                                                <span id="checkOutDate"></span>
                                            </li>
                                        </ul>
                                        <h3 class="card-title pb-3">Order Details</h3>
                                        <div class="section-block"></div>
                                        <ul class="list-items list-items-2 py-3">

                                            <li style="white-space: nowrap"><span>Nights:</span>
                                                <span id="nights"></span></li>
                                            <li style="white-space: nowrap"><span>Rooms:</span>
                                                <span id="rooms">1</span></li>
                                            <li style="white-space: nowrap"><span>Guests: </span>
                                                <span id="guests"></span></li>
                                        </ul>
                                        <div class="section-block"></div>
                                        <ul class="list-items list-items-2 pt-3">
                                            <li style="white-space: nowrap"><span>Sub Total:</span>
                                                <span id="subTotalPrice">200000</span>
                                            </li>
                                            <li style="white-space: nowrap"><span>Taxes And Fees:</span>
                                            <span class="text-primary">Free</span></li>
                                            <li style="white-space: nowrap"><span>Discount:</span>
                                                <span id="discount">20000</span></li>

                                            <li style="white-space: nowrap"><span>Total Price:</span>
                                                <span id="totalPrice">200000</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- end card-item -->
                            </div>
                            <!-- end form-content -->
                        </div>
                        <!-- end form-box -->
                    </div>
                    <!-- end col-lg-4 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- start back-to-top -->
        <div id="back-to-top">
            <i class="la la-angle-up" title="Go top"></i>
        </div>

        <div class="section-block"></div>
    </div>
</main>

<!-- Template JS Files -->
<th:block id="js-resources">
    <script>
        $(document).ready(function () {
            let userInfo = JSON.parse(localStorage.getItem("userInfo"));
            $('.customerName').val(userInfo.fullName);
            $('.customerEmail').val(userInfo.email);
            $('.customerPhone').val(userInfo.phone);
            $('.customerAddress').val(userInfo.address)

            const urlParams = new URLSearchParams(window.location.search);
            const roomId = urlParams.get('roomId');
            const checkin = urlParams.get('checkin');
            const checkout = urlParams.get('checkout');
            const guests = urlParams.get('guests')

            // Tính toán số nights
            const checkinDate = new Date(convertDateFormat(checkin));
            const checkoutDate = new Date(convertDateFormat(checkout));
            const timeDiff = Math.abs(checkoutDate - checkinDate);
            const numberOfNights = Math.ceil(timeDiff / (1000 * 60 * 60 * 24));
            console.log(numberOfNights);

            $('#checkInDate').text(checkin);
            $('#checkOutDate').text(checkout);
            $('#guests').text(guests);
            $('#nights').text(numberOfNights);

            getRoomById();
            function getRoomById() {
                $.ajax({
                    url: `/api/v1/rooms?roomId=${roomId}`,
                    type: 'GET',
                    success: function (response) {
                        // Xử lý dữ liệu khách sạn nhận được từ response
                        console.log(response);
                        $('.room-name').text(response.name);
                        $('.hotel-name').text(response.hotel.name);
                        const price = response.price;
                        const discountPecent = 10;
                        const discountAmount = (price* discountPecent)/100;
                        const totalPrice = price - discountAmount;

                        const formattedPrice = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(price);
                        const formattedDiscount = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(discountAmount);
                        const formattedTotalPrice = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(totalPrice);
                        $('#subTotalPrice').text(formattedPrice);
                        $('#discount').text(formattedDiscount);
                        $('#totalPrice').text(formattedTotalPrice)
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            }



            function convertDateFormat(inputDate) {
                const parts = inputDate.split('/');
                return `${parts[2]}-${parts[1]}-${parts[0]}`;
            }
        });
    </script>


    <script th:src="@{/assets/component/js/jquery-ui.js}"></script>
    <script th:src="@{/assets/component/js/popper.min.js}"></script>
    <script th:src="@{/assets/component/js/moment.min.js}"></script>
    <script th:src="@{/assets/component/js/daterangepicker.js}"></script>
    <script th:src="@{/assets/component/js/owl.carousel.min.js}"></script>
    <script th:src="@{/assets/component/js/jquery.fancybox.min.js}"></script>
    <script th:src="@{/assets/component/js/jquery.countTo.min.js}"></script>
    <script th:src="@{/assets/component/js/animated-headline.js}"></script>
    <script th:src="@{/assets/component/js/jquery.ripples-min.js}"></script>
    <script th:src="@{/assets/component/js/quantity-input.js}"></script>
    <script th:src="@{/assets/component/js/main.js}"></script>
</th:block>
</body>

</html>



