<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: main-fragment(
                                                ~{:: title},
                                                'full-header',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">

<head>

  <title>Hotel</title>

  <th:block id="css-resources">

    <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/line-awesome.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/owl.carousel.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/owl.theme.default.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/jquery.fancybox.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/daterangepicker.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/animate.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/animated-headline.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/jquery-ui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/flag-icon.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/hotel-list.css}">

    <style>
      .icon-element{
        margin-left: 0px;
        margin-right: 8px;
      }
      h1, h2, h3, h4, h5, h6 {
        font-family: "Roboto", sans-serif;
      }
      .disabled {
        opacity: 0.8;
        pointer-events: none;
        cursor: not-allowed;
      }
      .card-img img {
        width: 100%;
        height: 226px; !important;
        object-fit: cover; /* Đảm bảo ảnh không bị bóp méo và lấp đầy khung */
      }
    </style>
<!--    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
  </th:block>
</head>

<body>
<main id="main-content">
  <div class="page-content">

    <section class="breadcrumb-top-bar">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb-list breadcrumb-top-list">
              <ul class="list-items bg-transparent radius-none p-0">
                <li><a href="index.html">Home</a></li>
                <li>Hotels</li>
                <li th:text="${hotelInfo.name}">Hilton Hotel</li>
              </ul>
            </div>
            <!-- end breadcrumb-list -->
          </div>
          <!-- end col-lg-12 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>

    <section class="breadcrumb-area bread-bg-7 py-0" style="background-image: url(https://images.pexels.com/photos/189296/pexels-photo-189296.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)">
      <div class="breadcrumb-wrap">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="breadcrumb-btn">
                <div class="btn-box">
                  <a class="theme-btn" data-fancybox="video" data-src="https://www.youtube.com/watch?v=5u1WISBbo5I" data-speed="700">
                    <i class="la la-video-camera mr-2"></i>Video
                  </a>
                  <a class="theme-btn" data-src="/assets/component/images/img1.jpg" data-fancybox="gallery" data-caption="Showing image - 01" data-speed="700">
                    <i class="la la-photo mr-2"></i>More Photos
                  </a>
                </div>
                <a class="d-none" data-fancybox="gallery" data-src="/assets/component/images/img2.jpg" data-caption="Showing image - 02" data-speed="700"></a>
                <a class="d-none" data-fancybox="gallery" data-src="/assets/component/images/img3.jpg" data-caption="Showing image - 03" data-speed="700"></a>
                <a class="d-none" data-fancybox="gallery" data-src="/assets/component/images/img4.jpg" data-caption="Showing image - 04" data-speed="700"></a>
              </div>
              <!-- end breadcrumb-btn -->
            </div>
            <!-- end col-lg-12 -->
          </div>
          <!-- end row -->
        </div>
        <!-- end container -->
      </div>
      <!-- end breadcrumb-wrap -->
    </section>

    <section class="tour-detail-area padding-bottom-90px">
      <div class="single-content-navbar-wrap menu section-bg" id="single-content-navbar">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="single-content-nav" id="single-content-nav">
                <ul>
                  <li><a data-scroll="description" href="#description" class="scroll-link active">Hotel Details</a></li>
                  <li><a data-scroll="amenities" href="#availability" class="scroll-link">Availability</a></li>
                  <li><a data-scroll="reviews" href="#reviews" class="scroll-link">Reviews</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end single-content-navbar-wrap -->
      <div class="single-content-box">
        <div class="container">
          <div class="row">
            <div class="col-lg-9">
              <div class="single-content-wrap padding-top-60px">
                <div id="description" class="page-scroll">
                  <!-- end single-content-item -->
                  <div class="section-block"></div>
                  <div class="single-content-item padding-top-40px padding-bottom-40px">
                    <h3 class="title font-size-20" th:text="'About ' + ${hotelInfo.name}">About</h3>
                    <p class="py-3" th:text="${hotelInfo.description}"></p>
                  </div>
                  <!-- end single-content-item -->
                  <div class="section-block"></div>
                </div>
                <!-- end description -->
                <div id="availability" class="page-scroll">
                  <div class="single-content-item padding-top-40px padding-bottom-30px">
                    <h3 class="title font-size-20">Availability</h3>
                    <div class="contact-form-action padding-bottom-35px">
                      <form method="post">
                        <div class="row">
                          <div class="col-lg-6 responsive-column mb-3">
                            <div class="input-box">
                              <label class="label-text">Check in - Check out</label>
                              <div class="form-group">
                                <span class="la la-calendar form-icon"></span>
                                <input class="date-range form-control" type="text" name="daterange" min="">
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 responsive-column mb-3">
                            <div class="input-box">
                              <label class="label-text">Guests</label>
                              <div class="form-group">
                                <div class="select-contain w-auto" style="height: 49.6px;">
                                  <select id="guest-number">
                                    <option value="0" selected disabled>Select Guests</option>
                                    <option value="1">1 Guest</option>
                                    <option value="2">2 Guests</option>
                                    <option value="3">3 Guests</option>
                                    <option value="4">4 Guests</option>
                                    <option value="5">5 Guests</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <div class="btn-box " id="user-search-btn">
                              <button type="button" class="theme-btn search-availability" >Check Now</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                    <h3 class="title font-size-20">Available Rooms</h3>
                    <div class="cabin-type padding-top-30px" th:each="room: ${roomList}">
                      <div class="cabin-type-item seat-selection-item d-flex">
                        <div class="cabin-type-img flex-shrink-0 card-img">
                          <img th:src="${#lists.isEmpty(room.imageUrls) ? '/assets/user/images/no-photo.jpg' : room.imageUrls[0]}"
                               alt="Room Image">
                        </div>
                        <div class="cabin-type-detail">
                          <h3 class="title" th:text="${room.name}">Standard Family Room</h3>
                          <div class="row padding-top-20px">
                            <div class="col-lg-6 responsive-column">
                              <div class="single-tour-feature d-flex align-items-center mb-3">
                                <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-2">
                                  <i class="la la-wifi"></i>
                                </div>
                                <div class="single-feature-titles">
                                  <h3 class="title font-size-15 font-weight-medium" th:inline="text">
                                    <span style="display: inline" th:each="facility, iterStat : ${room.facilities}">
                                            <span th:text="${facility.name}"></span>
                                            <span th:if="${!iterStat.last}">, </span>
                                        </span>
                                  </h3>
                                </div>
                              </div>
                            </div>
                            <!-- end col-lg-6 -->
                            <div class="col-lg-6 responsive-column">
                              <div class="single-tour-feature d-flex align-items-center mb-3">
                                <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-2">
                                  <i class="la la-bed"></i>
                                </div>
                                <div class="single-feature-titles">
                                  <h3 class="title font-size-15 font-weight-medium">2 Single beds and 1 King beds</h3>
                                </div>
                              </div>
                            </div>
                            <!-- end col-lg-6 -->
                            <div class="col-lg-6 responsive-column">
                              <div class="single-tour-feature d-flex align-items-center mb-3">
                                <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-2">
                                  <i class="la la-users"></i>
                                </div>
                                <div class="single-feature-titles">
                                  <h3 class="title font-size-15 font-weight-medium" th:text="'Capacity: '+ ${room.capacity}">15 m²</h3>
                                </div>
                              </div>
                            </div>
                            <!-- end col-lg-6 -->
                            <div class="col-lg-6 responsive-column">
                              <div class="single-tour-feature d-flex align-items-center mb-3">
                                <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-2">
                                  <i class="la la-check"></i>
                                </div>
                                <div class="single-feature-titles">
                                  <h3 class="title font-size-15 font-weight-medium roomNums"
                                      th:text="'Available: '+ ${room.room_nums}" th:value="${room.room_nums}"></h3>
                                </div>
                              </div>
                            </div>
                            <!-- end col-lg-6 -->
                          </div>
                          <!-- end row -->
                          <div class="room-photos">
                            <a class="btn theme-btn-hover-gray" data-src="/assets/component/images/img1.jpg" data-fancybox="gallery" data-caption="Showing image - 01" data-speed="700">
                              <i class="la la-photo mr-2"></i>Room Photos
                            </a>
                            <a class="d-none" data-fancybox="gallery" data-src="/assets/component/images/img2.jpg" data-caption="Showing image - 02" data-speed="700"></a>
                            <a class="d-none" data-fancybox="gallery" data-src="/assets/component/images/img3.jpg" data-caption="Showing image - 03" data-speed="700"></a>
                            <a class="d-none" data-fancybox="gallery" data-src="/assets/component/images/img4.jpg" data-caption="Showing image - 04" data-speed="700"></a>
                          </div>
                        </div>
                        <div class="cabin-price">
                          <input type="hidden" class="room-id" th:value="${room.id}" />

                          <p class="text-uppercase font-size-14">Per/night
                            <strong class="mt-n1 text-black font-size-18 font-weight-black d-block">
                              [[${#numbers.formatDecimal(room.price, 0, 'COMMA', 0, 'POINT') }]] VNĐ
                            </strong>
                          <div class="cabin-price" style="display: none;">
                            <span class="room-price" th:text="${room.price}"></span>
                          </div>
                          </p>


                          <div class="custom-checkbox mb-0">
                            <select id="roomQuantitySelect" th:if="${room.room_nums > 0}" class="theme-select theme-btn-small col-8 px-1 py-2 mb-2">
                              <option value="" disabled selected>Select room</option>
                              <option th:each="quantity : ${#numbers.sequence(1, room.room_nums)}"
                                      th:value="${quantity}" th:text="${quantity}"></option>
                            </select>
                            <a class="theme-btn theme-btn-small bookNow" href="#"
                               th:classappend="${room.room_nums == 0 ? 'disabled' : ''}">
                              <span th:if="${room.room_nums == 0}">Out of rooms</span>
                              <span th:if="${room.room_nums != 0}">Book now!</span>
                            </a>
                          </div>
                        </div>

                      </div>
                      <!-- end cabin-type-item -->
                    </div>
                  </div>
                  <!-- end single-content-item -->
                  <div class="section-block"></div>
                </div>
                <!-- end location-map -->
                <div id="amenities" class="page-scroll">
                  <div class="single-content-item padding-top-40px padding-bottom-20px">
                    <h3 class="title font-size-20">Amenities</h3>
                    <div class="amenities-feature-item pt-4">

                    </div>
                  </div>
                  <!-- end single-content-item -->
                  <div class="section-block"></div>
                </div>
                <!-- end faq -->

              </div>
              <!-- end single-content-wrap -->
            </div>
          </div>
          <!-- end row -->
        </div>
        <!-- end container -->
      </div>
      <!-- end single-content-box -->
    </section>
    <!-- start back-to-top -->
    <div id="back-to-top">
      <i class="la la-angle-up" title="Go top"></i>
    </div>

    <div class="section-block"></div>
  </div>

</main>

<!-- Template JS Files -->

<th:block id="js-resources">
  <script>
    $(document).ready(function () {
      let hotelId = [[${hotelId}]];

      keepValue();
      function keepValue() {
        // Giữ lại giá trị tìm kiếm trên thanh search khi trang tải lần đầu
        const params = new URLSearchParams(window.location.search);
        const location = params.get('location');
        const checkin = params.get('checkin');
        const checkout = params.get('checkout')
        const guests = params.get('numberOfGuests')



        if (location) {
          $('#location').val(location);
        }

        if (checkin) {
          const checkinDate = formatDateBack(checkin)
          const checkoutDate = formatDateBack(checkout);
          $('.date-range').val(`${checkinDate} - ${checkoutDate}`);
        }
        if (guests) {
          $('#guest-number').val(guests);
        }

      }

      $('.bookNow').click(function (event) {
        event.preventDefault();
        const params = new URLSearchParams(window.location.search);
        const location = params.get('location');
        const checkin = params.get('checkin');
        const checkout = params.get('checkout')
        const guests = params.get('numberOfGuests')

        // const roomNums = $('#roomQuantitySelect').val();

        if (!checkin || !guests) {
          toastr.error('Please choose date, number of guest and check availability')
          return;
        }

        const $roomInfo = $(this).closest('.cabin-price');
        const roomId = $roomInfo.find('.room-id').val();
        const roomNums = $roomInfo.find('#roomQuantitySelect').val();

        if (!roomNums) {
          toastr.error('Please choose quantity of rooms you want to order')
          return;
        }

        const jwt = localStorage.getItem("jwt");
        if (jwt) {


          let url = "/bookings/checkout?roomId=" + roomId + "&checkin=" + checkin + "&checkout=" + checkout + "&guests=" + guests + "&roomNums=" + roomNums;

          // Chuyển hướng đến URL mới
          window.location.href = url;
        } else {
          toastr.error("Please login first before booking")
          $('#signInSignUp').modal("show");
        }

      });

      $('#user-search-btn').click(function (event) {
        event.preventDefault();

        const dateRange = $('.date-range').val();
        const [checkin, checkout] = dateRange.split(' - ');
        const numberOfGuests = $('#guest-number').val();

        console.log(`numberofGuests` + numberOfGuests)
        // Chuyển đổi ngày tháng sang đối tượng Date
        const checkinDate = parseDate(checkin, 'DD/MM/YYYY');
        const checkoutDate = parseDate(checkout, 'DD/MM/YYYY');

        // Kiểm tra ngày check-in không được là ngày trong quá khứ
        const currentDate = new Date();
        const startDate = new Date(checkinDate);
        if (startDate < currentDate) {
          toastr.error('Please choose valid check-in date and check-out date');
          return;
        } else if (checkin === checkout) {
          toastr.error('Please choose different check-in and check-out date')
          return;
        }


        let url = `/hotels/`+ hotelId

        if (checkin !== '') {
          url += `?checkin=${checkinDate}`
        }
        if (checkout !== '') {
          url += `${checkin ? '&' : '?'}checkout=${checkoutDate}`
        }
        if (numberOfGuests !== '' && numberOfGuests != null) {
          url += `${location || checkin ? '&' : '?'}numberOfGuests=${numberOfGuests}`
        }

        window.location.href = url;

      });

      function formatDateBack(dateString) {
        const parts = dateString.split('-');
        if (parts.length !== 3) {
          return null;
        }
        const [year, month, day] = parts.map(Number);

        // Định dạng lại thành ngày tháng theo định dạng mong muốn (DD/MM/YYYY)
        const formattedDate = `${day.toString().padStart(2, '0')}/${month.toString().padStart(2, '0')}/${year}`;
        return formattedDate;
      }
      function parseDate(dateString, format) {
        const parts = dateString.split('/');
        if (parts.length !== 3) {
          return null;
        }
        const [day, month, year] = parts.map(Number);

        // Định dạng lại thành ngày tháng theo định dạng mong muốn (YYYY-MM-DD)
        const formattedDate = `${year}-${month.toString().padStart(2, '0')}-${day.toString().padStart(2, '0')}`;
        return formattedDate;
      }
    });
  </script>
  <script th:src="@{/assets/component/js/jquery-ui.js}"></script>
  <script th:src="@{/assets/component/js/daterangepicker.js}"></script>
  <script th:src="@{/assets/component/js/jquery.fancybox.min.js}"></script>
  <script th:src="@{/assets/component/js/main.js}"></script>
</th:block>
</body>

</html>