<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: main-fragment(
                                                ~{:: title},
                                                'full-header',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">

<head>

    <title>Hotel</title>

    <th:block id="css-resources">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/bootstrap-select.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/line-awesome.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/owl.carousel.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/owl.theme.default.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/daterangepicker.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/animate.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/animated-headline.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/flag-icon.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/component/css/hotel-list.css}">

        <style>
            .card-item .card-img img {
                width: 100%;
                height: 200px; !important;
                object-fit: cover; /* Đảm bảo ảnh không bị bóp méo và lấp đầy khung */
            }
        </style>
    </th:block>
</head>

<body>
<main id="main-content">
    <div class="page-content">

        <section class="breadcrumb-area bread-bg-7" style="background-image: url(https://images.pexels.com/photos/189296/pexels-photo-189296.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)">

            <!-- end breadcrumb-wrap -->
            <div class="bread-svg-box">
                <svg class="bread-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none"><polygon points="100 0 50 10 0 0 0 10 100 10"></polygon></svg>
            </div>
            <!-- end bread-svg -->
        </section>

        <section class="card-area section--padding">
            <div class="container">
                <!-- end row -->
                <div class="row">
                    <div class="col-lg-4">
                        <div class="sidebar mt-0">
                            <div class="sidebar-widget">
                                <h3 class="title stroke-shape">Search Hotels</h3>
                                <div class="sidebar-widget-item">
                                    <div class="contact-form-action">
                                        <form action="#">
                                            <div class="input-box">
                                                <label class="label-text">Destination / hotel name</label>
                                                <div class="form-group">
                                                    <span class="la la-map-marker form-icon"></span>
                                                    <input class="form-control" type="text" name="text" placeholder="Destination, hotel name">
                                                </div>
                                            </div>
                                            <div class="input-box">
                                                <label class="label-text">Check in - Check out</label>
                                                <div class="form-group">
                                                    <span class="la la-calendar form-icon"></span>
                                                    <input class="date-range form-control" type="text" name="daterange">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- end sidebar-widget-item -->
                                <div class="sidebar-widget-item">
                                    <div class="qty-box mb-2 d-flex align-items-center justify-content-between">
                                        <label class="font-size-16">Rooms</label>
                                        <div class="qtyBtn d-flex align-items-center">
                                            <input type="text" name="qtyInput" value="0">
                                        </div>
                                    </div>
                                    <!-- end qty-box -->
                                    <div class="qty-box mb-2 d-flex align-items-center justify-content-between">
                                        <label class="font-size-16">Adults <span>18+</span></label>
                                        <div class="qtyBtn d-flex align-items-center">
                                            <input type="text" name="qtyInput" value="0">
                                        </div>
                                    </div>
                                    <!-- end qty-box -->
                                    <div class="qty-box mb-2 d-flex align-items-center justify-content-between">
                                        <label class="font-size-16">Children <span>2-12 years old</span></label>
                                        <div class="qtyBtn d-flex align-items-center">
                                            <input type="text" name="qtyInput" value="0">
                                        </div>
                                    </div>
                                    <!-- end qty-box -->
                                </div>
                                <!-- end sidebar-widget-item -->
                                <div class="btn-box pt-2">
                                    <a href="hotel-search-result.html" class="theme-btn">Search Now</a>
                                </div>
                            </div>
                            <!-- end sidebar-widget -->
                            <div class="sidebar-widget">
                                <h3 class="title stroke-shape">Filter by Price</h3>
                                <div class="sidebar-price-range">
                                    <div class="main-search-input-item">
                                        <div class="price-slider-amount padding-bottom-20px">
                                            <label for="amount2" class="filter__label">Price:</label>
                                            <input type="text" id="amount2" class="amounts">
                                        </div>
                                        <!-- end price-slider-amount -->
                                        <div id="slider-range2"></div>
                                        <!-- end slider-range -->
                                    </div>
                                    <!-- end main-search-input-item -->
                                    <div class="btn-box pt-4">
                                        <button class="theme-btn theme-btn-small theme-btn-transparent" type="button">Apply</button>
                                    </div>
                                </div>
                            </div>

                            <div class="sidebar-widget">
                                <h3 class="title stroke-shape">Filter by Rating</h3>
                                <div class="sidebar-review">
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="s1">
                                        <label for="s1">
                                    <span class="ratings d-flex align-items-center">
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <span class="color-text-3 font-size-13 ml-1">(55.590)</span>
                                    </span>
                                        </label>
                                    </div>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="s2">
                                        <label for="s2">
                                    <span class="ratings d-flex align-items-center">
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star-o"></i>
                                        <span class="color-text-3 font-size-13 ml-1">(40.590)</span>
                                    </span>
                                        </label>
                                    </div>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="s3">
                                        <label for="s3">
                                    <span class="ratings d-flex align-items-center">
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star-o"></i>
                                        <i class="la la-star-o"></i>
                                        <span class="color-text-3 font-size-13 ml-1">(23.590)</span>
                                    </span>
                                        </label>
                                    </div>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="s4">
                                        <label for="s4">
                                    <span class="ratings d-flex align-items-center">
                                        <i class="la la-star"></i>
                                        <i class="la la-star"></i>
                                        <i class="la la-star-o"></i>
                                        <i class="la la-star-o"></i>
                                        <i class="la la-star-o"></i>
                                        <span class="color-text-3 font-size-13 ml-1">(12.590)</span>
                                    </span>
                                        </label>
                                    </div>
                                    <div class="custom-checkbox mb-0">
                                        <input type="checkbox" id="s5">
                                        <label for="s5">
                                    <span class="ratings d-flex align-items-center">
                                        <i class="la la-star"></i>
                                        <i class="la la-star-o"></i>
                                        <i class="la la-star-o"></i>
                                        <i class="la la-star-o"></i>
                                        <i class="la la-star-o"></i>
                                        <span class="color-text-3 font-size-13 ml-1">(590)</span>
                                    </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- end sidebar-widget -->
                            <div class="sidebar-widget">
                                <h3 class="title stroke-shape">Facilities</h3>
                                <div class="sidebar-category">
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="f1">
                                        <label for="f1">Air Conditioning</label>
                                    </div>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="chb12">
                                        <label for="chb12">Airport Transport</label>
                                    </div>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="f2">
                                        <label for="f2">Fitness Center</label>
                                    </div>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="f3">
                                        <label for="f3">Flat Tv</label>
                                    </div>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="f4">
                                        <label for="f4">Heater</label>
                                    </div>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="f5">
                                        <label for="f5">Internet – Wifi</label>
                                    </div>
                                    <div class="collapse" id="facilitiesMenu">
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="f6">
                                            <label for="f6">Parking</label>
                                        </div>
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="f7">
                                            <label for="f7">Pool</label>
                                        </div>
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="f8">
                                            <label for="f8">Restaurant</label>
                                        </div>
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="f9">
                                            <label for="f9">Smoking Room</label>
                                        </div>
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="f10">
                                            <label for="f10">Spa &amp; Sauna</label>
                                        </div>
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="f11">
                                            <label for="f11">Washer &amp; Dryer</label>
                                        </div>
                                    </div>
                                    <a class="btn-text" data-toggle="collapse" href="#facilitiesMenu" role="button" aria-expanded="false" aria-controls="facilitiesMenu">
                                        <span class="show-more">Show More <i class="la la-angle-down"></i></span>
                                        <span class="show-less">Show Less <i class="la la-angle-up"></i></span>
                                    </a>
                                </div>
                            </div>
                                                  </div>
                        <!-- end sidebar -->
                    </div>
                    <!-- end col-lg-4 -->
                    <div class="col-lg-8">
                        <div th:each="hotel: ${hotelList.data}" class="card-item card-item-list">
                            <div class="card-img">
                                <a href="../unused/hotel-single.html" class="d-block">
                                    <img th:src="${hotel.imageUrl}" alt="hotel-img">
                                </a>
                                <div class="add-to-wishlist icon-element" data-toggle="tooltip" data-placement="top" title="Bookmark">
                                    <i class="la la-heart-o"></i>
                                </div>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title" ><a th:href="@{/hotels/{id}(id=${hotel.id})}" th:text="${hotel.name}">Best Western Grant Park Hotel</a></h3>
                                <p class="card-meta" th:text="${hotel.address}">124 E Huron St, Chicago</p>
                                <div class="card-rating">
                                    <span class="badge text-white">4.4/5</span>
                                    <span class="review__text">Average</span>
                                    <span class="rating__text">(30 Reviews)</span>
                                </div>
                                <div class="card-price d-flex align-items-center justify-content-between">
                                    <p>
                                        <span class="price__from">From</span>
                                        <span class="price__num">$58.00</span>
                                        <span class="price__text">Per night</span>
                                    </p>
                                    <a th:href="@{/hotels/{id}(id=${hotel.id})}" class="btn-text">See details<i class="la la-angle-right"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end col-lg-8 -->
                </div>
                <!-- end row -->
                <div class="row">
<!--                    <div aria-label="Page navigation" class="d-flex justify-content-center">-->
<!--                        <ul class="pagination">-->
<!--                            &lt;!&ndash; Previous button &ndash;&gt;-->
<!--                            <li class="page-item prev-button" th:classappend="${currentPage == 1 ? 'disabled' : ''}">-->
<!--                                <a class="page-link"-->
<!--                                   th:href="@{/hotels?pageIndex={page}(page=${currentPage - 1})}">Previous</a>-->
<!--                            </li>-->

<!--                            &lt;!&ndash; Page numbers &ndash;&gt;-->
<!--                            <li class="page-item" th:each="page : ${#numbers.sequence(1, hotelList.getPageNumber)}"-->
<!--                                th:classappend="${currentPage == page ? 'active' : ''}">-->
<!--                                <a class="page-link" th:href="@{/hotels(pageIndex=${page})}"><span-->
<!--                                        th:text="${page}"></span></a>-->
<!--                            </li>-->

<!--                            &lt;!&ndash; Next button &ndash;&gt;-->
<!--                            <li class="page-item" id="nextButton"-->
<!--                                th:classappend="${currentPage >= roomList.getPageNumber ? 'disabled' : ''}">-->
<!--                                <a class="page-link"-->
<!--                                   th:href="@{/hotels?pageIndex={page}(page=${currentPage + 1})}">Next</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
                    <!-- end col-lg-12 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
<!--        //PAGINATION-->
        <div aria-label="Page navigation" class="d-flex justify-content-center mb-5">
            <ul class="pagination">
                <!-- Previous button -->
                <li class="page-item prev-button" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                    <a class="page-link"
                       th:href="@{/partner/room-management?pageIndex={page}(page=${currentPage - 1})}">Previous</a>
                </li>

                <!-- Page numbers -->
                <li class="page-item" th:each="page : ${#numbers.sequence(1, hotelList.getPageNumber)}"
                    th:classappend="${currentPage == page ? 'active' : ''}">
                    <a class="page-link" th:href="@{/partner/room-management(pageIndex=${page})}"><span
                            th:text="${page}"></span></a>
                </li>

                <!-- Next button -->
                <li class="page-item" id="nextButton"
                    th:classappend="${currentPage >= hotelList.getPageNumber ? 'disabled' : ''}">
                    <a class="page-link"
                       th:href="@{/partner/room-management?pageIndex={page}(page=${currentPage + 1})}">Next</a>
                </li>
            </ul>
        </div>
        <div class="section-block"></div>
    </div>
</main>

    <!-- Template JS Files -->
<th:block id="js-resources">
    <script th:src="@{/assets/component/js/jquery-ui.js}"></script>
    <script th:src="@{/assets/component/js/daterangepicker.js}"></script>
    <script th:src="@{/assets/component/js/jquery.fancybox.min.js}"></script>
    <script th:src="@{/assets/component/js/main.js}"></script>
</th:block>
</body>

</html>