<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout_dashboard_user :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">

<head>

    <title>Booking Management</title>

    <th:block id="css-resources">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap-grid.min.css"/>
        <style>
            .disabled {
                opacity: 0.8;
                pointer-events: none;
                cursor: not-allowed;
            }
            table .status-box {
                display: inline-block;
                padding: 3px 6px; /* Điều chỉnh khoảng cách xung quanh chữ */
                border-radius: 4px;
                font-weight: bold;
                text-align: center; /* Căn chỉnh văn bản trong hộp */
                position: relative; /* Để làm việc với các phần tử con bên trong */
            }


            /* Các class tương ứng với trạng thái */
            .pending-box {
                background-color: yellow;
            }

            .confirm-box {
                background-color: green;
                color: white;
            }

            .cancel-box {
                background-color: red;
                color: white;
            }
        </style>
    </th:block>
</head>

<body>

<main id="main-content">
    <div class="page-content">
        <nav class="page-breadcrumb d-flex align-items-center justify-content-between">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="/partner/dashboard-partner">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Booking Management</li>
            </ol>
        </nav>
        <div class="search-box p-4 bg-white rounded mb-3 box-shadow">
            <div class="col-lg-3 pb-4">
                <h5>Booking Lists</h5>
            </div>
            <form class="forms-sample">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-4">
                        <input type="text" placeholder="Search by ID" class="form-control" id="searchId">
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" placeholder="Search by customer name" class="form-control" id="searchCustomerName">
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" placeholder="Search by customer phone" class="form-control" id="searchCustomerPhone">
                    </div>
                </div>
            </form>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary px-3 py-2" id="search-booking-btn"><i class="link-icon"
                                                                                                data-feather="search"></i>
                    Search
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="dataTableExample" class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Room</th>
                                    <th>Qty</th>
                                    <th>Check in</th>
                                    <th>Check out</th>
                                    <th>Booking Date</th>
                                    <th>Total Amount</th>
                                    <th>Status</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="booking: ${bookingList.data}">
                                    <td th:text="${booking.id}"/>
                                    <td th:text="${booking.customerName}"/>
                                    <td th:text="${booking.customerPhone}"/>
                                    <td th:text="${booking.roomName}"/>
                                    <td th:text="${booking.roomNums}"/>
                                    <td th:text="${booking.startDate}"/>
                                    <td th:text="${booking.endDate}"/>
                                    <td th:text="${booking.createdDateTime}"/>
<!--                                    <td th:text="${booking.totalAmount}"/>-->
                                    <td class="text-center">
                                        <script th:inline="javascript">
                                            var price = [[${booking.totalAmount}]];
                                            var formattedPrice = new Intl.NumberFormat('vi-VN').format(price);
                                            document.write(formattedPrice);
                                        </script>
                                    </td>
                                    <td class="text-center">
                                        <div th:class="${booking.status.name == 'Pending' ? 'status-box pending-box' : (booking.status.name == 'Confirmed' ? 'status-box confirm-box' : 'status-box cancel-box')}">
                                            <span class="status-text" th:text="${booking.status.name}"></span>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <ul class="d-flex list-unstyled mb-0 justify-content-center">

                                            <a class="btn btn-danger px-1 py-1 cancel-booking-btn"
                                               th:attr="data-booking-id=${booking.id}"
                                               th:unless="${booking.status.name == 'Cancelled'}"
                                               th:value="CANCELLED"
                                               style="display: inline-flex; align-items: center;">
                                                <i class="link-icon" data-feather="x"></i> Cancel
                                            </a>
                                        </ul>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--        PAGINATION-->
        <div aria-label="Page navigation" class="d-flex justify-content-center">
            <ul class="pagination">
                <!-- Previous button -->
                <li class="page-item prev-button" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                    <a class="page-link"
                       th:href="@{/user/bookings?pageIndex={page}(page=${currentPage - 1})}">Previous</a>
                </li>

                <!-- Page numbers -->
                <li class="page-item" th:each="page : ${#numbers.sequence(1, bookingList.getPageNumber)}"
                    th:classappend="${currentPage == page ? 'active' : ''}">
                    <a class="page-link" th:href="@{/user/bookings(pageIndex=${page})}"><span
                            th:text="${page}"></span></a>
                </li>

                <!-- Next button -->
                <li class="page-item" id="nextButton"
                    th:classappend="${currentPage >= bookingList.getPageNumber ? 'disabled' : ''}">
                    <a class="page-link"
                       th:href="@{/user/bookings?pageIndex={page}(page=${currentPage + 1})}">Next</a>
                </li>
            </ul>
        </div>

    </div>

</main>

<th:block id="js-resources">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:inline="javascript">

            $(document).ready(function () {
            $('.confirm-booking-btn, .cancel-booking-btn').click(function () {
                const newStatus = $(this).attr("value")
                const bookingId = $(this).data("booking-id");

                $.ajax({
                    url: '/api/v1/partner/bookings/' + bookingId,
                    type: 'PUT',
                    data: JSON.stringify({ status: newStatus }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        // Xử lý kết quả trả về từ API nếu cần
                        console.log('ok');
                        window.location.reload();
                        toastr.success('Đã update thành công.');

                    },
                    error: function (xhr, status, error) {
                        // Xử lý lỗi (nếu có)
                        console.error(error);
                        toastr.error('Đã xảy ra lỗi khi xóa phòng.');
                    }
                });


            });
        });
    </script>
</th:block>
</body>

</html>