<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product management</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/product-list.css"/>
</head>
<body>

<div class="container-fluid m-0 p-0">

    <div th:insert="fragments/nav :: nav"></div>

    <div class="row mt-3 ml-3">
        <div class="col">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product-create-modal">
                Create
            </button>
        </div>
    </div>

    <div th:insert="fragments/product-create-modal :: product-create-modal"
         th:with="sanPhamMuonTaoMoi=${sanPhamMuonTaoMoi}"></div>

    <div class="row mt-4 mx-3">
        <div class="col">
            <table class="table table-bordered table-hover table-striped">
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Actions</th>
                </tr>
                <tr th:each="sanPham: ${danhSachSanPham}">
                    <td th:text="${sanPham.id}"/>
                    <td th:text="${sanPham.name}"/>
                    <td th:text="${sanPham.price}"/>
                    <td th:text="${sanPham.description}"/>
                    <td>
                        <a role="button" class="mr-3 text-primary update-product" th:attr="product-id=${sanPham.id}">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div th:insert="fragments/product-update-modal :: product-update-modal"></div>

<!--    <div th:insert="fragments/footer :: footer"></div>-->
</div>

</body>
</html>


<!-- jQuery library -->
<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>

<!-- Popper JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>


<script>
    $(document).ready(function () {
        toastr.options.timeOut = 2500; // 1.5s
        // setTimeout(() => {
        //     toastr.info('Page Loaded!');
        // }, 3000);


        $("#product-update-modal-form").validate({
            onfocusout: false,
            onkeyup: false,
            onclick: false,
            rules: {
                "name": {
                    required: true,
                    maxlength: 255
                },
                "price": {
                    required: true,
                    maxlength: 20
                },
                "description": {
                    required: true,
                }
            },
            messages: {
                "name": {
                    required: "Bắt buộc nhập tên sản phẩm",
                    maxlength: "Hãy nhập tối đa 255 ký tự"
                },
                "price": {
                    required: "Bắt buộc nhập giá sản phẩm",
                    maxlength: "Hãy nhập tối đa 20 ký tự"
                },
                "description": {
                    required: "Bắt buộc nhập mô tả sản phẩm",

                }
            }
        });

        $(".update-product").click(async event => {
            console.log(event);
            const productId = $(event.currentTarget).attr("product-id");
            console.log(productId);

            let currentProduct = null;
            await $.ajax({
                url: '/api/v1/products/' + productId,
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                    currentProduct = data;
                },
                error: function (data) {
                    console.log(data);
                    toastr.warning(data.responseJSON.message);
                }
            });
            if (!currentProduct) {
                return;
            }

            $('#product-update-modal #name').val(currentProduct.name);
            $('#product-update-modal #price').val(currentProduct.price);
            $('#product-update-modal #description').val(currentProduct.description);

            $('#product-update-modal #submit-update-product').attr("product-id", productId);

            $('#product-update-modal').modal('show');
        });


        $("#submit-update-product").click(() => {
            const isValidForm = $("#product-update-modal-form").valid();
            if (!isValidForm) {
                return;
            }

            const productId = $('#product-update-modal #submit-update-product').attr("product-id");
            const formData = $('#product-update-modal-form').serializeArray();
            console.log(formData);
            if (!formData || formData.length === 0) {
                return;
            }
            const requestData = {};
            for (let i = 0; i < formData.length; i++) {
                requestData[formData[i].name] = formData[i].value;
            }

            $.ajax({
                url: '/api/v1/products/' + productId,
                type: 'PUT',
                data: JSON.stringify(requestData),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    toastr.success("Cập nhật sản phẩm thành công");
                    setTimeout(() => {
                        location.reload();
                    }, 1000);
                },
                error: function (data) {
                    toastr.warning(data.responseJSON.message);
                }
            });
        });


    });
</script>
