<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout_dashboard_partner :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">

<head>

    <title>Partner Dashboard</title>

    <th:block id="css-resources">

    </th:block>
</head>

<body>

<main id="main-content">
    <div class="page-content">
        <nav class="page-breadcrumb d-flex align-items-center justify-content-between">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="dashboard.html">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Room Management</li>
            </ol>
            <a href="/partner/add-room" class="btn btn-primary"><i class="link-icon" data-feather="plus"></i> Add room</a>
        </nav>
        <div class="search-box p-4 bg-white rounded mb-3 box-shadow">
            <form class="forms-sample">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <h5>Room Management Lists</h5>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <input type="text" placeholder="Search by category title" class="form-control">
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <select class="form-select form-select-lg">
                            <option selected>Category</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <select class="form-select form-select-lg">
                            <option selected>Show Entries</option>
                            <option value="1">10</option>
                            <option value="2">20</option>
                            <option value="3">30</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="dataTableExample" class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Facility</th>
                                    <th>Price</th>
                                    <th>Capacity</th>
                                    <th>Status</th>
                                    <th class="text-center">Published</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Bungalow</td>
                                    <td>TV, Wifi</td>
                                    <td>600000</td>
                                    <td>3</td>
                                    <td>Available</td>
                                    <td class="text-center">
                                        <span class="form-check form-switch"><input type="checkbox" class="form-check-input" id="formSwitch1"></span>
                                    </td>
                                    <td class="text-center">
                                        <ul class="d-flex list-unstyled mb-0 justify-content-center">
                                            <li class="me-2"><a href="#" data-bs-toggle="modal" data-bs-target="#view"><i class="link-icon" data-feather="eye"></i></a></li>
                                            <li class="me-2"><a href="#" data-bs-toggle="modal" data-bs-target="#addslider"><i class="link-icon" data-feather="edit"></i></a></li>
                                            <li><a href="#"><i class="link-icon" data-feather="delete"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="dataTables_paginate">
                <ul class="pagination">
                    <li class="paginate_button page-item">
                        <a href="#" class="page-link">Previous</a>
                    </li>
                    <li class="paginate_button page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="paginate_button page-item"><a href="#" class="page-link">2</a></li>
                    <li class="paginate_button page-item"><a href="#" class="page-link">3</a></li>
                    <li class="paginate_button page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</main>

<th:block id="js-resources">
</th:block>
</body>

</html>