<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: main-fragment(
                                                ~{:: title},
                                                'full-header',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">

<head>
    <title>Trang chủ</title>

    <th:block id="css-resources">

    </th:block>
</head>

<body>

<main id="main-content">
    <div class="page-content">
        <div class="tet"></div>

        <section class="banner pt-10 pb-0 overflow-hidden" style="background-image:url(assets/user/images/testimonial.png);">
            <div class="container">
                <div class="banner-in">
                    <div class="row align-items-center">
                        <div class="col-lg-6 mb-4">
                            <div class="banner-content text-lg-start text-center">
                                <h4 class="theme mb-0">Explore Viet Nam</h4>
                                <h1>Start Planning Your Dream Trip Today!</h1>
                                <p class="mb-4">Life is short & the world is wide</p>
                                <div class="book-form bg-light">
                                    <ul class="nav nav-tabs nav-tabs-search ">
                                        <li class="nav-item">
                                            <a class="nav-link active border" data-toggle="tab" href="#hotelTab">
                                                <i class="fas fa-hotel" style="margin-right: 0.5rem;"></i> Hotel</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link border" data-toggle="tab" href="#tourTab">
                                                <i class="fas fa-hiking" style="margin-right: 0.5rem;"></i>Tour</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content mt-3">
                                        <div class="tab-pane fade show active" id="hotelTab">
                                            <form class="row d-flex align-items-center justify-content-between">
                                                <div class="form-group col-lg-6 mb-2">
                                                    <label for="destination-hotel">Destination</label>
                                                    <input type="text" class="form-control" id="destination-hotel"
                                                           placeholder="Enter your destination" autocomplete="on">
                                                </div>
                                                <div class="form-group col-lg-6 mb-2">
                                                    <label for="check-in-hotel">Check-in</label>
                                                    <input type="date" class="form-control" id="check-in-hotel">
                                                </div>
                                                <div class="form-group col-lg-6 mb-2">
                                                    <label for="check-out-hotel">Check-out</label>
                                                    <input type="date" class="form-control" id="check-out-hotel">
                                                </div>
                                                <div class="form-group col-lg-6 mb-2">
                                                    <label for="guests">Guests</label>
                                                    <select class="form-control" id="guests">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group mb-0 text-center">
                                                        <a href="#" class="nir-btn w-100"><i class="fa fa-search mr-2"></i>
                                                            Search
                                                            Now</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane fade" id="tourTab">
                                            <form class="row d-flex align-items-center justify-content-between">
                                                <div class="form-group col-lg-6 mb-2">
                                                    <label for="destination-tour">Destination</label>
                                                    <input type="text" class="form-control" id="destination-tour"
                                                           placeholder="Enter your destination" autocomplete="on">
                                                </div>
                                                <div class="form-group col-lg-6 mb-2">
                                                    <label for="check-in-tour">Check-in</label>
                                                    <input type="date" class="form-control" id="check-in-tour">
                                                </div>
                                                <div class="form-group col-lg-6 mb-2">
                                                    <label for="check-out-tour">Check-out</label>
                                                    <input type="date" class="form-control" id="check-out-tour">
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group mb-0 text-center">
                                                        <a href="#" class="nir-btn w-100"><i class="fa fa-search mr-2"></i>
                                                            Search
                                                            Now</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="banner-image">
                                <img src="assets/user/images/travel.png" alt>
                            </div>
                        </div>
                    </div>
                    <div class="category-main-inner border-t pt-1">
                        <div class="row side-slider">
                            <div class="col-lg-3 col-md-6 my-4">
                                <div class="category-item box-shadow p-3 py-4 text-center bg-white rounded overflow-hidden">
                                    <div class="trending-topic-content">
                                        <img src="assets/user/images/icons/004-camping-tent.png" class="mb-1 d-inline-block" alt>
                                        <h4 class="mb-0"><a href="tour-grid.html">Camping</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 my-4">
                                <div class="category-item box-shadow p-3 py-4 text-center bg-white rounded overflow-hidden">
                                    <div class="trending-topic-content text-center">
                                        <img src="assets/user/images/icons/003-hiking.png" class="mb-1 d-inline-block" alt>
                                        <h4 class="mb-0"><a href="tour-grid.html">Hiking</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 my-4">
                                <div class="category-item box-shadow p-3 py-4 text-center bg-white rounded overflow-hidden">
                                    <div class="trending-topic-content">
                                        <img src="assets/user/images/icons/005-sunbed.png" class="mb-1 d-inline-block" alt>
                                        <h4 class="mb-0"><a href="tour-grid.html">Beach Tours</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 my-4">
                                <div class="category-item box-shadow p-3 py-4 text-center bg-white rounded overflow-hidden">
                                    <div class="trending-topic-content">
                                        <img src="assets/user/images/icons/006-surf.png" class="mb-1 d-inline-block" alt>
                                        <h4 class="mb-0"><a href="tour-grid.html">Surfing</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 my-4">
                                <div class="category-item box-shadow p-3 py-4 text-center bg-white rounded overflow-hidden">
                                    <div class="trending-topic-content">
                                        <img src="assets/user/images/icons/002-safari.png" class="mb-1 d-inline-block" alt>
                                        <h4 class="mb-0"><a href="tour-grid.html">Safari</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 my-4">
                                <div class="category-item box-shadow p-3 py-4 text-center bg-white rounded overflow-hidden">
                                    <div class="trending-topic-content">
                                        <img src="assets/user/images/icons/008-cycling.png" class="mb-1 d-inline-block" alt>
                                        <h4 class="mb-0"><a href="tour-grid.html">Cycling</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 my-4">
                                <div class="category-item box-shadow p-3 py-4 text-center bg-white rounded overflow-hidden">
                                    <img src="assets/user/images/icons/007-hiking-1.png" class="mb-1 d-inline-block" alt>
                                    <div class="trending-topic-content">
                                        <h4 class="mb-0"><a href="tour-grid.html">Trekings</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="trending pb-5 pt-0">
            <div class="container">
                <div class="section-title mb-6 w-50 mx-auto text-center">
                    <h4 class="mb-1 theme1">Top Destinations</h4>
                    <h2 class="mb-1">Explore <span class="theme">Top Destinations</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                    </p>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-5 mb-4">
                        <div class="trend-item1">
                            <div class="trend-image position-relative rounded">
                                <img src="assets/user/images/destination/destination1.jpg" alt="image">
                                <div
                                        class="trend-content d-flex align-items-center justify-content-between position-absolute bottom-0 p-4 w-100 z-index">
                                    <div class="trend-content-title">
                                        <h5 class="mb-0"><a href="tour-grid.html" class="theme1">England</a></h5>
                                        <h3 class="mb-0 white">London</h3>
                                    </div>
                                    <span class="white bg-theme p-1 px-2 rounded">15 Tours</span>
                                </div>
                                <div class="color-overlay"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                                <div class="trend-item1">
                                    <div class="trend-image position-relative rounded">
                                        <img src="assets/user/images/destination/destination17.jpg" alt="image">
                                        <div
                                                class="trend-content d-flex align-items-center justify-content-between position-absolute bottom-0 p-4 w-100 z-index">
                                            <div class="trend-content-title">
                                                <h5 class="mb-0"><a href="tour-grid.html" class="theme1">Italy</a>
                                                </h5>
                                                <h3 class="mb-0 white">Caspian Valley</h3>
                                            </div>
                                            <span class="white bg-theme p-1 px-2 rounded">18 Tours</span>
                                        </div>
                                        <div class="color-overlay"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                                <div class="trend-item1">
                                    <div class="trend-image position-relative rounded">
                                        <img src="assets/user/images/destination/destination14.jpg" alt="image">
                                        <div
                                                class="trend-content d-flex align-items-center justify-content-between position-absolute bottom-0 p-4 w-100 z-index">
                                            <div class="trend-content-title">
                                                <h5 class="mb-0"><a href="tour-grid.html" class="theme1">Tokyo</a>
                                                </h5>
                                                <h3 class="mb-0 white">Japan</h3>
                                            </div>
                                            <span class="white bg-theme p-1 px-2 rounded">21 Tours</span>
                                        </div>
                                        <div class="color-overlay"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                                <div class="trend-item1">
                                    <div class="trend-image position-relative rounded">
                                        <img src="assets/user/images/destination/destination15.jpg" alt="image">
                                        <div
                                                class="trend-content d-flex align-items-center justify-content-between position-absolute bottom-0 p-4 w-100">
                                            <div class="trend-content-title">
                                                <h5 class="mb-0"><a href="tour-grid.html" class="theme1">Moscow</a>
                                                </h5>
                                                <h3 class="mb-0 white">Russia</h3>
                                            </div>
                                            <span class="white bg-theme p-1 px-2 rounded">15 Tours</span>
                                        </div>
                                        <div class="color-overlay"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                                <div class="trend-item1">
                                    <div class="trend-image position-relative rounded">
                                        <img src="assets/user/images/destination/destination16.jpg" alt="image">
                                        <div
                                                class="trend-content d-flex align-items-center justify-content-between position-absolute bottom-0 p-4 w-100 z-index">
                                            <div class="trend-content-title">
                                                <h5 class="mb-0"><a href="tour-grid.html" class="theme1">Florida</a>
                                                </h5>
                                                <h3 class="mb-0 white">America</h3>
                                            </div>
                                            <span class="white bg-theme p-1 px-2 rounded">32 Tours</span>
                                        </div>
                                        <div class="color-overlay"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="discount-action pt-6"
                 style="background-image:url(assets/user/images/section-bg1.png); background-position:center;">
            <div class="section-shape section-shape1 top-inherit bottom-0"
                 style="background-image: url(assets/user/images/shape8.png);"></div>
            <div class="container">
                <div class="call-banner rounded pt-10 pb-14">
                    <div class="call-banner-inner w-75 mx-auto text-center px-5">
                        <div class="trend-content-main">
                            <div class="trend-content mb-5 pb-2 px-5">
                                <h5 class="mb-1 theme">Love Where Your're Going</h5>
                                <h2><a href="detail-fullwidth.html">Explore Your Life, <span class="theme1"> Travel Where
                                        You Want!</span></a></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua.</p>
                            </div>
                            <div class="video-button text-center position-relative">
                                <div class="call-button text-center">
                                    <button type="button" class="play-btn js-video-button" data-video-id="152879427"
                                            data-channel="vimeo">
                                        <i class="fa fa-play bg-blue"></i>
                                    </button>
                                </div>
                                <div class="video-figure"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="white-overlay"></div>
        </section>


        <section class="trending recent-articles pb-6">
            <div class="container">
                <div class="section-title mb-6 w-75 mx-auto text-center">
                    <h4 class="mb-1 theme1">Our Blogs Offers</h4>
                    <h2 class="mb-1">Recent <span class="theme">Articles & Posts</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                    </p>
                </div>
                <div class="recent-articles-inner">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="trend-item box-shadow bg-white mb-4 rounded overflow-hidden">
                                <div class="trend-image">
                                    <img src="assets/user/images/trending/trending10.jpg" alt="image">
                                </div>
                                <div class="trend-content-main p-4 pb-2">
                                    <div class="trend-content">
                                        <h5 class="theme mb-1">Technology</h5>
                                        <h4><a href="detail-1.html">How a developer duo at Deutsche Bank keep remote
                                            alive.</a></h4>
                                        <p class="mb-3">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        </p>
                                        <div class="entry-meta d-flex align-items-center justify-content-between">
                                            <div class="entry-author mb-2">
                                                <img src="assets/user/images/reviewer/2.jpg" alt class="rounded-circle me-1">
                                                <span>Sollmond Nell</span>
                                            </div>
                                            <div class="entry-button d-flex align-items-centermb-2">
                                                <a href="#" class="nir-btn">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="trend-item box-shadow bg-white mb-4 rounded overflow-hidden">
                                <div class="trend-image">
                                    <img src="assets/user/images/trending/trending12.jpg" alt="image">
                                </div>
                                <div class="trend-content-main p-4 pb-2">
                                    <div class="trend-content">
                                        <h5 class="theme mb-1">Inspiration</h5>
                                        <h4><a href="detail-1.html">Inspire Runner with Autism Graces of Women's Running</a>
                                        </h4>
                                        <p class="mb-3">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        </p>
                                        <div class="entry-meta d-flex align-items-center justify-content-between">
                                            <div class="entry-author mb-2">
                                                <img src="assets/user/images/reviewer/1.jpg" alt class="rounded-circle me-1">
                                                <span>David Scott</span>
                                            </div>
                                            <div class="entry-button d-flex align-items-center mb-2">
                                                <a href="#" class="nir-btn">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="trend-item box-shadow bg-white mb-4 rounded overflow-hidden">
                                <div class="trend-image">
                                    <img src="assets/user/images/trending/trending13.jpg" alt="image">
                                </div>
                                <div class="trend-content-main p-4 pb-2">
                                    <div class="trend-content">
                                        <h5 class="theme mb-1">Public</h5>
                                        <h4><a href="detail-1.html">Services To Grow Your Business Sell Affiliate
                                            Products</a></h4>
                                        <p class="mb-3">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        </p>
                                        <div class="entry-meta d-flex align-items-center justify-content-between">
                                            <div class="entry-author mb-2">
                                                <img src="assets/user/images/reviewer/3.jpg" alt class="rounded-circle me-1">
                                                <span>John Bolden</span>
                                            </div>
                                            <div class="entry-button d-flex align-items-center mb-2">
                                                <a href="#" class="nir-btn">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</main>

<th:block id="js-resources">
    <script src="assets/user/js/verify-registration.js"></script>
</th:block>

</body>

</html>